[2013-04-25 10:23] Siyfion opened #2 "Response Headers Missing"
First off, let me just say thanks for creating a (potentially) very useful bit of middleware!

The issue I'm having is that none of the headers seem to be injected into the response at all; even though I _think_ my configuration is correct.

I have my routes in `routes.js`, along with the cors middleware:

[code]

Here's the request from the client:

[code]

and the response:

[code]

And then I g

[2013-04-28 18:27] #2 closed, assigned to nobody

[2013-04-29 08:53] Siyfion opened #3 "Headers only returned for OPTIONS request...?"
While the correct headers are being returned for an OPTIONS request, I believe that they also need to be returned in the _actual_ request response as well.

As an example, I am using the `Access-Control-Allow-Credentials` header, the OPTIONS request gets returned correctly, but the actual response does not. Here's the flow:

[code]

Then I get an error:
`XMLHttpRequest cannot load https://labellog

[2013-04-29 14:27] #3 closed, assigned to nobody

[2013-06-18 10:33] silentjohnny opened #6 "Missing request data events"
Is there a reason for the request.pause() / resume() calls? Because (in node 0.10) request handlers now miss data events. Removing the pause/resume from the cors module resolves the problem.

Any thoughts on this?

[2013-08-07 20:21] jfroffice opened #7 "npm install failed on node v0.10.15"
I get this following error

[code]

[2013-08-07 20:24] #7 closed, assigned to nobody

[2013-09-27 17:16] facultymatt opened #8 "Should CORS deny access from curl requests?"
I'm attempting to use the CORS module to block curl requests (or other rest client requests, such as chrome's excellent Postman). But it's not working.

Im guessing that CORS is only respected when making a request from a browser, and that a server to server request not protected with cors. If this is correct, how would I block a cross server request?

[2013-09-30 17:57] #8 closed, assigned to nobody

[2013-12-10 22:32] ryanrolds opened #13 "Access-Control-Allow-Max-Age is actually Access-Control-Max-Age"
http://www.w3.org/TR/2008/WD-access-control-20080912/#access-control-max-age

[2013-12-11 06:03] #13 closed, assigned to nobody

[2013-12-17 04:40] nihaopaul opened #14 "cors request hangs unexpectidly with express 3.0"
using the below implementation of cors module causes unexpected hangs in express with POST..

[code]

requests using curl and angular hang but process every now and then without errors thrown back but causes nodejs to hang

[code]

[2014-01-02 20:04] #14 closed, assigned to nobody

[2014-02-17 18:38] ix-xerri opened #15 "Access-Control-Expose-Headers"
Would just like to double check this issue. In my use case I have a CSRF token in the headers. Now to have that token accessible by the client then I need to use 'Access-Control-Expose-Headers'. This middle ware does not offer the functionality to add that header, correct?

[2014-03-04 21:50] #15 closed, assigned to troygoode

[2014-03-11 14:26] igorissen opened #16 "Enable all CORS requests"
Hi,

I have a problem with CORS requests. I can do a GET and a PATCH (for now) but when I try to do a POST the browser show me this message

[code]

I have 2 servers on `http://localhost:9000` for the API and `http://localhost:9010` for the website. On each servers I have enabled all CORS requests with there configurations like this

[code]

[code]

[code]

Normally with this configuration all COR

[2014-04-25 16:35] #16 closed, assigned to nobody

[2014-06-04 14:28] Siyfion opened #20 "Ordering within middleware...?"
Essentially I've encountered an issue with regards to where the cors middleware is injected, please see: https://github.com/expressjs/multer/issues/25 for further details (and the resolution at the bottom). Is there a specific place it should be injected? First?

[2014-06-07 09:37] shane-tomlinson opened #21 "Express 4.x uses `res.set` instead of `res.setHeader`"
See http://expressjs.com/api.html#res.set

[2014-06-07 09:41] shane-tomlinson opened #22 "method names are not normalized before comparison"
Express 4.x's router normalizes method names to all lowercase before doing comparisons. Normalization future proof's any changes in the way the method names are handled by express.

[2014-07-04 19:35] pixelhandler opened #24 "Demo not working http://node-cors-client.herokuapp.com"
Visit: http://node-cors-client.herokuapp.com

Click fetch button in Example 1.

Result:

[code]

[2014-07-05 18:11] #24 closed, assigned to nobody

[2014-07-05 18:12] #22 closed, assigned to nobody

[2014-07-05 18:26] #21 closed, assigned to nobody

[2014-07-05 18:48] #6 closed, assigned to nobody

[2014-07-05 18:48] #20 closed, assigned to nobody

[2014-07-08 04:12] philxia opened #25 "does not work if use auth"
The cors does not work if I use the auth as below, any idea?

[2014-07-09 19:47] cajoy opened #26 "cors doesn't apply to next(e) ..."
Basically cross domain headers like origin and credentials doesn't work if rest API returns errors.

So for example if customer tries to use website as Unauthenticated 401. Cors doesn't apply to response. And if API is on subdomain - browser blocks requests

[2014-07-09 20:01] #26 closed, assigned to nobody

[2014-07-09 20:01] #25 closed, assigned to nobody

[2014-07-11 20:41] ryanlelek opened #27 "Get request is returning 200 even when origin not allowed"
Works:
app.get('/some-path', cors(options));

Does not work:
app.get('/some-path', cors(options), my_responder);
app.get('/some-path', [ cors(options), my_responder]);

Code with tests:
https://github.com/ryanlelek/node_cors_issue

Any ideas?

Ryan

[2014-07-21 16:41] #27 closed, assigned to nobody

[2014-08-26 02:21] cooolbasha opened #28 "uploading image"
Hi,

I am trying to upload an image using ajax from to the same server as the current page..but the image is downloaded from web. Currently chrome doesn't send any cookies (sesssion id or sid) back to server which in turn considers it as a different session. but If I upload a image from local system it sends the cookie header..I can see the list of header that are sent..

would your middleware wor

[2014-09-13 22:06] #28 closed, assigned to nobody

[2014-10-29 06:20] hixus opened #31 "Version 2.5 does not add cors with subrouters"
Version 2.4.2 works fine but newest version seems to work only without subrouters. Something like this won't work anymore.

app = express();
app.use(cors());
mainRouter = express.Router();
mainRouter.use('/items', itemsRouter);
...

[2014-11-01 19:12] #31 closed, assigned to nobody

[2014-11-07 16:30] grofit opened #32 "CORS works for one route but not another when using app.use(cors(myOptions))"
I am sure this is an issue with my implementation rather than this library but I am struggling to find out what the problem is.

I have a restful API and I configure it like so:

[code]

This happens before all routes and only seems to work for one of the routes I am testing, which is: `http://localhost:2000/authentication` via a POST request, with 1 custom middleware which basically converts the

[2014-11-10 05:38] troygoode opened #33 "library no longer supports non-express applications"
https://github.com/troygoode/node-cors/commit/165f35e8a289e36caefc92131e8f874560bd8ce6#commitcomment-8496165

[2014-11-10 05:50] #33 closed, assigned to troygoode

[2014-11-10 08:42] #32 closed, assigned to nobody

[2014-12-18 00:36] jedmao opened #34 "Single-route CORS fails in Chrome/FF/Safari, but not IE"
The simple usage for enabling all CORS requests works great in all browsers (tested with karma/jasmine):

[code]

But the moment I move `cors()` from the `app.use()` into the specific route:

[code]

 Chrome, FF and Safari all fail my tests. I'm only running one Jasmine spec to isolate the issue. Here's what it looks like:

[code]

Note that karma is running tests on port `9876` and the test api s

[2015-01-01 18:10] troygoode commented on #34
@jedmao the issue is your 404 doesn't match any of your listed `OPTIONS` routes. currently your server will respond to `OPTIONS` requests to the following:

* `/200`
* `/500`
* `/creds`

If I were to try and send a CORS-enabled `GET` request to `/foo` the browser would first send an `OPTIONS` request to `/foo`, and no route would be executed on your server. Your best bet here is to enable CORS acr

[2015-01-01 18:10] #34 closed

[2015-01-01 19:11] jedmao commented on #34
@troygoode that doesn't work either. Besides, in my case, my `/creds` route needs different options so I can't do the same options for every request. Instead, I tried the following:

[code]

But, again, this only works in IE and not the other browsers. Sorry I didn't provide this information sooner.

[2015-01-02 00:13] troygoode commented on #34
@jedmao I'm confused. you have a route specifying the path `/404`? why would you do that?

[2015-01-02 01:38] jedmao commented on #34
@troygoode you have every right to be confused. This must be something I was doing in my troubleshooting phase, but I removed it and I'm getting the same results now. IE succeeds and the other browsers fail, even without cors enabled for a 404.

I guess I can't blame node-cors on any of that. I'm still left confused though.

[2015-01-19 01:10] kumavis opened #36 "Credentials flag error"
Getting error in browser:
[code]

There doesn't seem to be any credential flags, so I'm a little confused.

[code]

[2015-01-19 02:51] kumavis commented on #36
Some sneaky code was setting `xhr.withCredentials = true`. grrrr.

[2015-01-19 02:51] #36 closed

[2015-02-05 14:50] TrangNguyen opened #37 "Using with socket.io"
Hi,

I have an express app using cors hosted by Nodejitsu acting as a REST API, so it serves no HTML, but JSON. Some requests are bound with socket.io. On another server, I have an Angular Requirejs app (very.ink) serving HTMLs and calling the rest API (Nodejitsu). All non-socket requests are processed but the socket.io requests are not. I have tested locally (Angular app at localhost:8000) with t

[2015-02-26 19:44] 03eltond opened #38 "Cookies get set despite invalid origin when credentials: true is specified"
Hello!  I have a scenario which I would like to get some thoughts on.  I would like my XHR's to drop cookies, and so I use the "credentials: true" option.  However, when hitting my API from an invalid origin, the value for the Access-Control-Allow-Credentials header remains true.  This causes an interesting thing to occur, where the browser "rejects" the request as it should, but it still drops my

[2015-02-26 23:13] 03eltond commented on #38
I am investigating this further.  I would like to see if I can get together a code snippet to further prove this out, and will re-open at that time.

[2015-02-26 23:13] #38 closed

[2015-05-08 01:33] zaggino opened #42 "allow 'options.origin' to be a regexp"
usage would be: `options.origin = /^(.*\.)?github\.com$/` to allow cors from any subdomain of `github.com`

implementation probably something like
[code]

https://github.com/troygoode/node-cors/blob/master/lib/index.js#L25

[2015-05-09 21:41] etiktin commented on #37
Hi @TrangNguyen,
Your code is fine and should return a single value for the "Access-Control-Allow-Origin" header.
It seems the issue is with the configuration of your app on Nodejitsu. I don't know their exact architecture but If they use node.js behind an http server (e.g. nginx), the http server can manipulate the response and add/overwrite the values set by the cors package.

I googled "nodejit

[2015-05-09 22:31] etiktin commented on #42
@zaggino that's a good idea.
Technically you can already use regex to test for a match by setting origin to a function, but I think that directly assigning a regex will make the code concise and easier to understand.

I suggest to also add an option to assign an array to origin to support an origin whitelist.

Supporting regex and array will mean that you hardly never need to use the function synt

[2015-05-12 14:45] jonathanasquier opened #43 "Unexpected behaviour"
Hello, my cors are working fine when making an API call from a browser app. If the domain is in the whitelist, the corsOptions origin callback sends true, otherwise it block as expected. But when I call the API from a REST console or a node CLI program, the call works, even if origin is undefined and the corsOptions origin callback sends false.

Shouldn't it fail? Otherwise how can I block calls t

[2015-05-12 15:36] jonathanasquier commented on #43
https://github.com/troygoode/node-cors/issues/8
"In other words, CORS is not a valid mechanism of protecting against server-to-server requests."

Had my answer, thanks!

[2015-05-12 15:36] #43 closed

[2015-05-13 14:18] flosky opened #45 "cors error for https"
I create two servers, one with http and one with https

    var server = http.createServer(app);
    var secureServer = https.createServer(sslOptions, app);

cors was already added to the app middleware.
Now it works on http but not on https.

[2015-05-27 09:08] ragulka opened #49 "Expose request object for dynamic origin"
Access to the `req` object would be helpful if CORS configuration depends on the requested resource path for example. Lets say I want to protect my app paths by disallowing CORS requests, but still allow CORS requests for static assets. Without access to the req object, I can't do it.

[2015-05-28 08:22] troygoode commented on #42
@zaggino @etiktin yes, I like the idea. there is an open pull request (#48) that I'll merge once a unit test that covers the functionality has been added

[2015-05-28 08:22] #37 closed

[2015-05-28 08:25] troygoode commented on #45
@flosky could you submit a failing unit test? I've used the cors library in production with https plenty of times without issue

[2015-05-28 08:28] troygoode commented on #49
@ragulka you can already do this via: https://github.com/troygoode/node-cors#configuring-cors-asynchronously

[2015-05-28 08:28] #49 closed

[2015-05-28 23:11] troygoode commented on #42
this has shipped to npm as `2.7.0`

cc @zaggino @etiktin @alex94puchades

[2015-05-28 23:11] #42 closed

[2015-05-30 10:30] flosky commented on #45
Ok, I'll try.

[2015-06-07 05:23] breaklee opened #52 "safari can not request cors."
blow is my cors option.

-----------------------------------------------

cors : function() {
			return {
				origin		   : function(origin, callback) {
					callback(null, origin === undefined || config.isWhiteList(origin)/*always true*/);
    			},
    			credentials    : true,
    			methods 	   : ["GET", "POST", "DELETE", "PUT", "UPDATE", "OPTIONS", "HEAD"],
    			exposedHeaders : ['Origin', '

[2015-06-15 16:08] troygoode commented on #52
@breaklee what error are you seeing in Safari?

[2015-06-16 12:02] breaklee commented on #52
@troygoode there are no errors. every request has different session id.
im using session store "express-session", "redis"

[2015-06-16 15:41] gabeio commented on #52
@breaklee are you requesting a session across domains? ie: on, google.com requesting login & a page from youtube.com (subdomains may also have issues depending on cookie settings)? I think this might be more over an `express-session` issue.

[2015-06-19 14:45] grofit commented on #45
I am having same issue at the moment, I have just turned on https on our app and it fails to handle the preflights.

[2015-06-19 15:07] grofit commented on #45
Nope no such luck, is there anything you can see as blatantly incorrect with my above configuration? it works fine on HTTP and I have just done a test with the firefox debugger and it looks like no response is provided for the OPTIONS call.

Given that you say you have used it in production for other sites it makes me think that I am missing something in my configuration rather than it being a lib

[2015-06-19 15:32] troygoode commented on #52
@breaklee is this happening on localhost, or in production? if in production, are you serving it over HTTPS? (wondering if this is related to #45)

[2015-06-19 15:34] grofit commented on #45
Sorry to keep spamming here, to further confuse things I did some tests with different browsers, Firefox refuses to get any response when using http://test-cors.org however chrome does get a response although for some reason the cookies are not being provided now.

[2015-06-19 15:57] troygoode commented on #45
@grofit your comments aren't spam; they're very helpful. thanks for investigating

[2015-07-07 19:30] GrahamWood opened #54 "Cors headers only coming on certain routes"
I've setup the package using version 0.7.x on laravel 5.1.x.

I'm also using the jwt-auth package as middleware.

I'm setting up a RESTful API, so I'm just using resource routes and returning JSON.

Interesting enough, CORS seems to work on my POST routes but not GET routes. Using Postman to examine my headers, this seems to be the case for the controller methods I've tested.

Here's my routes.php

[2015-07-20 07:15] troygoode commented on #54
@GrahamWood I think you logged this issue to the wrong library; this cors library is for node.js, not PHP

[2015-07-20 07:15] #54 closed

[2015-07-27 06:43] celicoo opened #55 "Should i use this package for prevent only one origin?"
I'm trying to figure out if Express already prevent CORS or if should i use this package for that?

Thanks guys! :)

[2015-07-27 17:51] troygoode commented on #55
@celicoo browsers prevent cross-origin requests by default. this package lets your server unblock that

[2015-07-27 17:51] #55 closed

[2015-07-27 21:17] celicoo commented on #55
Thanks @troygoode

[2015-08-10 18:39] tkellen opened #56 "add OPTIONS to default methods"
Is there any reason this isn't a default already?
https://github.com/expressjs/cors/blob/master/lib/index.js#L9

If no, I'd be happy to submit a PR.

[2015-08-10 18:44] jmeas commented on #56
Related in the docs: https://github.com/expressjs/cors#enabling-cors-pre-flight

[2015-08-10 18:46] tkellen commented on #56
Yup, I see that. I'd love to know why that isn't the default behavior in the first place.

[2015-08-18 07:34] akohout opened #57 "Provide a Changelog"
Would be easier if there is a changelog, or even tagged releases, so that users who use the cors package see what updates bring with it.

[2015-08-23 01:46] dianadkle opened #58 "Installation issue"
I am trying to install the cors module and get the following errors:
[code]

[2015-08-23 05:03] #58 closed

[2015-08-27 00:29] jfirebaugh opened #59 "document default values of `options` and `methods`"
The [README mentions these options](https://github.com/expressjs/cors#configuration-options) but doesn't say what the default values are.

[2015-08-28 15:19] troygoode commented on #56
@tkellen `OPTIONS` requests works by default if you "install" the cors module globally within your express application (i.e. `app.use(cors());`). If you're using cors on a route-by-route basis (`app.post('/foo', cors(), ...);`) then the cors module doesn't even _receive_ OPTIONS requests (only POST requests in my provided example), so you need to do a bit more work.

[2015-08-28 15:19] troygoode commented on #57
tagging releases makes sense. I'll try do so moving forward @akohout

[2015-08-28 15:19] #57 closed

[2015-08-28 15:20] tkellen commented on #56
That's not true. I can provide a reproduction if you re-open this.

[2015-08-28 15:20] tkellen commented on #56
cc @bobholt

[2015-08-28 15:20] troygoode commented on #56
I'd love to see it @tkellen

[2015-08-28 15:23] #59 closed

[2015-08-28 15:23] troygoode commented on #59
@jfirebaugh great suggestion. done

[2015-08-28 15:25] troygoode commented on #56
@tkellen just as an FYI, this line is what is supposed to enable the effect I described above:

https://github.com/expressjs/cors/blob/ddc7d03e12db8e74d44b73aa6136b90b2bd25640/lib/index.js#L156

[2015-08-29 09:02] Grievoushead opened #60 "Doesn't work on PUT request"
My CORS server configured as following:

[code]

If I am sending request from browser then pref-light OPTIONS url will respond and forbid sending actual PUT request. It's ok. But if I am sending request from server directly to PUT url then it allow to execute even if origin is not in whitelist.

[2015-09-02 00:59] ammark47 commented on #58
Hi, I'm getting the same issue. How did you solve this?

[2015-09-02 01:24] ammark47 commented on #58
Nevermind, I had installed this module (https://github.com/andreypopp/rrouter) which was depending on an old version of react

[2015-09-03 12:10] kauegimenes commented on #60
I have the same issue.

[code]

PUT get aways a 404 response

[2015-09-18 18:25] jfirebaugh opened #61 "when configured to reflect Access-Control-Request-Headers, should also use Vary: Access-Control-Request-Headers"
When the middleware is configured to reflect the request value of `Access-Control-Request-Headers` in the response value of `Access-Control-Allow-Headers` (as it is in the default configuration), it should also include `Vary: Access-Control-Request-Headers` in the response. Without this header, it's possible to trigger a situation where a downstream cache responds to an OPTIONS request using a cac

[2015-09-24 01:19] troygoode commented on #60
CORS is a standard for browsers. it is not meant to be used as a security layer for server-to-server communciation

[2015-09-24 01:19] #60 closed

[2015-09-24 01:20] troygoode commented on #61
good catch @jfirebaugh - I'll try to address it soon

[2015-11-13 18:14] #52 closed

[2015-11-13 18:14] #56 closed

[2016-01-08 02:24] homeslicesolutions opened #64 "Adding "host" to Origin callback"
Hi, I think it would be nice to add another attribute for "host" or just the request object so we can use anything in the request to validate the origin. What cha think?   Maybe something like this:

{ origin: function(origin, req, callback) }   or for backwards compatitbility:  { origin: function(origin, callback, req) }

[2016-01-11 22:46] ryanlelek commented on #27
Bowser aside...I can't figure this out.
Why would adding another middleware after the cors middleware affect the results?

[2016-01-12 18:41] ashblue commented on #45
Is this resolved?

[2016-01-12 18:54] grofit commented on #45
I cannot remember but I do remember I had some issues with the SSL cert I was using which was causing some issues in browsers, once that was resolved I believe everything worked... I wish I could offer more info on the matter but it was ages ago, it was/is all working now though.

[2016-01-12 20:56] ashblue commented on #45
@grofit can @troygoode mark this as resolved then? Was some resistance from our team to use this after seeing the open issue.

[2016-01-12 21:13] #45 closed

[2016-01-12 21:14] troygoode commented on #45
good idea @ashblue – I haven't had anyone reproduce this and it is used in many, many projects in production without issue, so I've closed it until someone can point me to an active problem (and hopefully test case)

[2016-01-12 21:36] grofit commented on #45
I use this in production and its fine, like in most cases there was something else causing an issue but it would only manifest when using CORS and it is hard to isolate stuff when it involves CORS, SSL Certs and domains, anyway the library itself is great, so I do apologize if this issue gave people the wrong idea but it seemed like the CORS headers would be the problem given our API test coverage

[2016-01-12 21:38] troygoode commented on #45
thanks for the feedback @grofit – glad the library is working well for you!

[2016-01-17 06:30] avanderhoorn opened #65 "`access-control-request-headers` only applies for OPTIONS requests"
It appears as if `access-control-request-headers` only applies for OPTIONS requests. Is this correct?

[2016-02-04 22:04] lionelrudaz opened #67 "MethodNotAllowed: Method `update` is not supported by this endpoint."
Hi guys,

I noticed today that I have the following error in my logs.

[code]

Here's the configuration that I've got:

[code]

Do you know if I do anything wrong?

Let me know if you need more information.

Thanks in advance

[2016-02-19 13:58] pitambar opened #68 "not able to set Access-Control-Max-Age"
Access-Control-Max-Age is not able to set in header

[2016-02-29 08:52] juancarlosfarah opened #70 "Do you need to include the configuration options in all calls?"
Do you need to include the configuration options every time you call `cors()`? E.g.

[code]

I notice you use it in one of your examples, but it is not clear from the readme.

[2016-03-02 02:25] miketamis opened #71 "CORS origin is undefined."
cors was working for me yesterday, today I have woken up and now CORS has stopped working and it looks like whenever I do a request the origin is undefined.

Heres my code:

[code]

[2016-03-08 18:13] yosiasz opened #72 "express.Router and cors() issues"
Greetings,

How do fit in cors() with Express.Router. This snippet of my roomRoutes.js blows up when I clearly have implemented cors() or so I think. What am I missing?

MLHttpRequest cannot load http://localhost:8001/rooms/4. Method DELETE is not allowed by Access-Control-Allow-Methods in preflight response.

`var cors = require('cors'),
    express = require('express'),
    app = express(),

[2016-03-08 18:25] yosiasz commented on #72
ok resolved by using

    roomRouter.all('*', cors());

Thanks

[2016-03-08 18:25] #72 closed

[2016-03-15 15:17] docksteaderluke commented on #71
I'm having the same issue. Just started today. Not sure what's up.

[2016-04-14 17:58] EirikBirkeland commented on #71
Can you try console.logging `request.header.origin`? I am getting the same result as you guys, but I think this module isn't responsible for the definedness of the request object.

`app.use((req,res,next) => {
   console.log(req.headers.origin) // undefined
   next()
})`

This may help:
http://stackoverflow.com/questions/29531521/req-headers-origin-is-undefined

[2016-04-19 12:22] dragonprojects opened #73 "Preflight success statusCode should be configurable"
Hi,

we have currently problems in the communication with some Smart TVs. They crashs if getting a 204 status code for the preflight request and want to have a 200 status code.
Default value if not configured should be 204 for compatibility.

[2016-04-19 12:24] dragonprojects commented on #73
Would be also solved by always response the status code 204 like its mentioned in the already existing pull request:
https://github.com/expressjs/cors/pull/66

[2016-04-20 11:40] orangeeli commented on #70
Heya @juancarlosfarah,
You don't need to include the configuration options every time you call ``cors()``. Check the first 2 examples from the readme [Simple Usage (Enable All CORS Requests)](https://github.com/expressjs/cors#simple-usage-enable-all-cors-requests) and [Enable CORS for a Single Route](https://github.com/expressjs/cors#enable-cors-for-a-single-route). Moreover, you can check the cod

[2016-05-05 12:10] derhuerst commented on #65
If your question refers to the specifications, [yes](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Preflighted_requests).

[2016-05-15 05:35] hckhanh commented on #68
Me too, I cannot see the Access-Control-Max-Age header in postman when i use this module.

[2016-05-19 09:47] bjoernwenzel-tommapps commented on #61
+1

[2016-05-24 15:12] eczajk1 commented on #71
Same problem here.  I believe the value we would want is in ```request.headers.referer```, no?

```origin``` used to work, so I'm not sure what changed.

[2016-05-27 02:23] olalonde opened #79 "Multiple cors middlewares on same request?"
I have an API where I want every path to be CORS-enabled for all origins except for `/auth/connect/twitter` because it uses a cookie based session.

I was wondering if it would be possible to make it so that the last cors() middleware always overrides precedent ones. E.g.

[code]

should set the `Access-Control-Allow-Origin` to `http://mydomain.com`. Is that possible?

[2016-06-03 22:14] sjberry commented on #79
Running into the same issue. From what we can tell multiple calls to `cors` strictly append to the existing headers. While there may be a use case for this, not being able to override this behavior is a non-starter.

We don't want `Access-Control-Allow-Origin` to be `*,http://example.com`.

Probably just going to gut `cors` for now since this is time sensitive.

[2016-06-04 04:02] olalonde commented on #79
Yes, I ended up doing something like this:

[code]

[2016-06-15 00:47] wjagodfrey commented on #42
Are we able to get this feature documented?

[2016-06-30 08:05] SushantVarshney opened #80 "Method PUT is not allowed by Access-Control-Allow-Methods in preflight response."
How to solve this issue as I am making a PUT request from angularjs and the configuration are:

[code]

[2016-07-08 15:29] LukasBombach opened #81 "Origin regex fails depending on query param"
Hello,

I use the following value for the origin option:
[code]
It works, usually. But this is weird: I am on the website

http://local.welt.de:9000/testgpr/Funkotron/article156909079/XHTML-oEmbed-Migration-Testartikel.html

_From that same page_, I XHR the 2 urls

https://beta.welt.de/oembed is where my `cors` enabled node server is running. The first request works fine, the second request howeve

[2016-07-11 07:30] LukasBombach commented on #81
Ok I am sorry, it seems it has been a nasty cache invalidation issue that has solved itself over the weekend.

[2016-07-11 07:30] #81 closed

[2016-07-12 21:52] wangbourne opened #82 "cors does not work on localhost"
I use the demo code as shown below. Then I open the website of "http://localhost:3000/" in my Chrome. it should not get a message of "This is CORS-enabled for only example.com." since it's not within the origin list. Am I wrong?

[code]

[2016-07-12 22:50] blakeembrey commented on #82
Are you making the request from another domain. CORS is for sharing resources across domains, it doesn't block access to the page your currently on or block people from looking at it. It blocks HTTP requests from another page to your own resources. You can read more about CORS on https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS.

[2016-07-12 23:56] wangbourne commented on #82
Thanks, i made mistakes on basic concept

[2016-07-12 23:56] #82 closed

[2016-07-26 17:00] aabanaag opened #83 "Disable methods per controller"
How could I disable verbs/methods per controller?

I tried using `app.use('/wallets', cors(method: 'GET,POST,DELETE'), routes)` but it doesn't work.

[2016-08-23 17:59] troygoode commented on #68
fixed and published as `2.7.2` in #74

[2016-08-23 17:59] #68 closed

[2016-08-23 18:11] troygoode commented on #73
fixed and published as `2.8.0`, but requires you to set the option `optionsSuccessCode: 200`

[2016-08-23 18:12] troygoode commented on #65
closing this since I'm pretty sure it is working to spec

[2016-08-23 18:12] #65 closed

[2016-08-23 18:16] troygoode commented on #70
Two clarifications:

1) you don't need to specify cors for the `OPTIONS` requests since it is already declared for _all_ requests
2) rather than passing the options to each cors middleware instance you can either rely upon the defaults or cache the function returned by `cors` (it returns a middleware) for usage elsewhere ala:

[code]

[2016-08-23 18:16] #70 closed

[2016-08-23 18:16] #73 closed

[2016-08-24 17:08] kirps opened #84 "Documentation: npm docs show optionsSucccessCode with 3 c's, don't think that's right."
In the code it looks like `optionsSuccessStatus` is what we want, is this correct?

[2016-08-25 15:17] kwizzn commented on #84
See PR https://github.com/expressjs/cors/pull/85.

[2016-08-25 18:13] troygoode commented on #84
fixed by #85

[2016-08-25 18:13] #84 closed

[2016-09-06 15:24] WilixLead opened #87 "Old parameter name in npmjs.com"
Hi.

I found mistakes in https://www.npmjs.com/package/cors#configuring-cors
Look to line "optionsSucccess**Code**: 200"
in source code and github description I found "optionsSuccess**Status**".
This typo makes me crazy to 2 hours :)

[2016-09-08 20:36] troygoode commented on #87
bummer! sorry about that...

This was already fixed but I hadn't published it to npm since it was "just a docs change" – my mistake. I've published a new version with the correct `README.md`.

[2016-09-08 20:36] #87 closed

[2016-09-09 08:57] WilixLead commented on #87
Thanks :)

[2016-09-10 19:55] GilVieira commented on #71
Am also having the same problem, i need to restrict access to some end points, but can not identify the origin. Already use JWT to authenticate, but would like to have another level of access control by origin. **request.headers.referer** return absolute URI,  anyone got a solution for undefined origin?

Tks

[2016-09-12 17:38] ultrafez commented on #83
When you say it doesn't work, what was the problem?

You haven't got any `{}` around the parameters to the `cors` method call, which would cause a syntax error.

[2016-09-14 17:32] rafasoyyo commented on #71
Hi guys!
What do you think about this approach???

Just change the line 223 from:
originCallback(req.headers.origin, function (err2, origin) {
to:
 originCallback(req.headers.origin || req.headers.host, function (err2, origin){

Tested on browsers, it woks! I didn't test on requests from servers...

[2016-09-14 20:23] blakeembrey commented on #71
Origin is where it comes from, host is the current domain. They are much different things, and if it falls back to host it should always be true.

[2016-09-20 23:30] troygoode commented on #79
I like your solution @olalonde

[2016-09-20 23:31] #83 closed

[2016-09-20 23:31] #67 closed

[2016-09-20 23:32] troygoode commented on #80
show us what the server config looks like for `cors`

[2016-09-20 23:32] #80 closed

[2016-09-27 06:53] smff opened #88 "So, headers only returned for OPTIONS request... again?"
i'm installed this. Add to app.js "app.use(cors());"
Trying to GET my CORS headers with curl, but got:

HTTP/1.1 200 OK
X-Powered-By: Express
X-Request-Id: 37a5b307-886d-4da0-97de-f4d1d5c6c32c
Cache-Control: max-age=0, private
Expires: -1
Access-Control-Allow-Origin: *
Content-Type: application/json; charset=utf-8
Content-Length: 411
ETag: W/"19b-6y0fduS9wFWuJQobNUC5SQ"
Date: Tue, 27 Sep 2016 06:5

[2016-09-28 14:17] HugoPoi commented on #88
Same for problem for me. Using `app.use(cors());` do nothing.
After digging during 2 hours, I figure out why I can't have CORS header on `GET/POST/PUT...`.
First, CORS OPTIONS pre-flight works as expected with `app.options(*, cors());`
Second, when i use `app.get('/test', cors(), function(req, res){res.json("Message with cors")})` works as expected.
My setup use Express 3.x and use `app.use(app.ro

[2016-10-03 16:35] arjungowdaa opened #89 "Why is origin is undefinedd??"
Hi,

Am new to CORS and tyring to fix an issue. Below is my code snippet.
[code]

Q1: Am assuming origin is what URL we give in the browser???
My host file has this line _127.0.0.1       localhost.mydomain.com_
Q2: So when I say http://localhost.mydomain.com:8080/api/, origin is undefined and hence originIsWhitelisted is false. What could be wrong?

[2016-10-04 18:37] arjungowdaa commented on #89
Hi @troygoode
Can you please help me out here?

[2016-10-04 20:07] blakeembrey commented on #89
Perhaps you would be interested in reading about the origin header instead? Here's a StackOverflow answer that came up when I search for it - https://stackoverflow.com/questions/15988323/cors-and-origin-header. I wasn't quite sure what the above code is doing, but the origin header is only sent when you're making an XMLHttpRequest cross-domain and no other time.

[2016-10-04 20:08] blakeembrey commented on #89
You may also be interested in the duplicate issue open: https://github.com/expressjs/cors/issues/71.

[2016-10-04 20:08] #89 closed

[2016-10-13 23:56] sgress454 opened #90 "Leaking headers?"
Let me preface this by saying that this module works great and seems generally well-thought-out, and it's not at all clear to me what the best practice for exposing `Access-Control-*` headers is in every situation (or even if there is a consensus on best practice), but it seems to me that the code leaks information in a couple of ways:

1. If the `origin` setting is set to a string (a "fixed" orig

[2016-10-27 17:37] mgranados opened #91 "POST (via jquery ajax) works but it doesn't give the right response"
On localhost works like a charm. For some reason on the server the POST petition via ajax jquery it is done correctly but it gives me the classic `No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin` on the response. ☹️

[2016-11-04 09:28] breneser opened #92 "Configuring CORS dynamically sends back a 500 for automated access"
Using CORS v 2.8.1 I am configuring CORS with dynamic origin list using the example on the docs as below:

[code]

When accessing the server using curl ( with no origin header ) server sends back a 500 error. I would expect it to just add Access-Control-Allow-Origin header with white list rather blocking access and sending back a 500.

Whereas when configured statically as below it works fine:

[c

[2016-11-04 10:07] breneser commented on #92
Ok, it seems recommended way for multiple origin header is to echo origin value back to client. Still not sure if 500 is appropriate repsonse status.

http://stackoverflow.com/questions/1653308/access-control-allow-origin-multiple-origin-domains#1850482

[2016-11-04 10:07] #92 closed

[2016-12-08 15:45] OKNoah opened #94 "Safari pre-flight now working"
Is anyone else seeing a problem with Safari?

Even the demo server has it: http://node-cors-client.herokuapp.com/

The OPTIONS call does not resolve.

[2016-12-14 05:58] troygoode commented on #94
I just tested the demo server by following your link on Safari (10.0.2) on a brand new OS X install and everything worked fine.

[2016-12-14 05:58] #94 closed

[2016-12-26 12:14] bharat-dpd commented on #71
Same problem here. anybody have any clue how to fix this?

[2016-12-29 03:33] rkyleg commented on #88
Thanks @HugoPoi, that was my problem as well.

[2017-01-09 11:05] QuantumInformation commented on #16
Can you use localhost to send requests to a production server running the cors module, without enabling the catchall `use Cors()`?

[2017-01-13 21:43] benezra444 commented on #71
SAME HERE

[2017-01-23 16:37] staminna opened #97 "Error: listen EADDRINUSE"
Hi

How can I specify which ports to allow?
I want to talk between 8444 and 8443, but when I add
[code]
or either of them, and get the error in the title.

[2017-01-23 17:15] hacksparrow commented on #97
@staminna that means a process is already listening on that port; it might an earlier instance of your app. You will need to stop that process to free the port.

[2017-01-24 03:45] JayMc commented on #71
is your browser sending the origin header?

[2017-01-24 04:51] bharat-dpd commented on #71
For POST type request yes and for GET type no.

[2017-01-24 16:45] #97 closed

[2017-02-03 02:59] stouf commented on #88
I took a look at [the code](https://github.com/expressjs/cors/blob/master/lib/index.js#L157-L181) and this behavior is apparently intended:

[code]

It also seems to be part of the standard definition. According to [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS), some headers like `Access-Control-Max-Age` and `Access-Control-Allow-Methods` for example will only be used

[2017-02-03 13:47] Stas-Buzunko opened #98 "Stopped working after adding ssl certificate"
It worked fine for months with http. When added ssl certificate using Letsencrypt (https://letsencrypt.org/) I started getting this error:
Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

SSL certificate issue is mentioned a little in https://github.com/expressjs/cors/issues/45 but doesn't provide enough

[2017-02-03 13:50] Stas-Buzunko commented on #45
@grofit can you share any info on ssl certificate issue? https://github.com/expressjs/cors/issues/98

[2017-02-03 13:59] grofit commented on #45
I am not entirely sure, from what I remember I had a cert that was incorrectly configured or something so certain browsers were fine without the keychain or some other part of it, so ultimately it wasn't CORS acting up it was just the HTTPS part breaking from what I remember, this was a long time ago though.

[2017-02-06 19:15] saadtazi opened #99 "Passing a frozen object as config object generates `Cannot assign to read only property 'origin' of object` TypeError"
[This line](https://github.com/expressjs/cors/blob/master/lib/index.js#L228) modifies the option object passed to `cors`.
But if that object is immutable (using `Object.freeze()` for example), then the following error is generated:
[code]

Note that [`config` package](https://www.npmjs.com/package/config) (which seems to be a popular package) if freezing the `config` by default.

## Current workar

[2017-02-07 07:50] LinusU commented on #99
I think that it's generally considered bad practice to modify objects passed to your function. We should try and fix this 👍 A PR would be great

[2017-02-07 14:42] saadtazi commented on #99
Thank you for the quick reply. I can give it a try this week I think.

`Object.assign` is not defined in node `0.10` (it appeared in node `4` I think).

So do you have a preferred way of doing it?
1. Knowing the list of the possible option properties (currently 8), manually copy those properties at the beginning of `cors()`
[code]
2. copy an `Object.assign` polyfilll [like this one](https://develo

[2017-02-07 15:14] LinusU commented on #99
I personally think that approach 3 is the best one :)

[2017-02-08 18:42] tflx opened #101 "POST does nothing after pre-flight"
*** Sorry - my bad. It works just fint

In POSTMAN it works so I'm pretty sure it's a cors thing.
The OPTIONS method returns a 204 and Chrome dev tools says "Fetch complete: POST..."

This is the code:
[code]

[2017-02-08 19:02] #101 closed

[2017-02-10 05:42] dcherman opened #102 "Option to set `Timing-Allow-Origin`"
In order to allow the resource timing API to work correctly, the `Timing-Allow-Origin` must be set to allow certain portions of the resource timing API to be used.

Can we add an option to allow this header to be set, matching the value reflected for the `Access-Control-Allow-Origin` header?

[2017-02-12 10:31] nahwinrajan opened #103 ""Access-Control-Allow-Origin" is not added to headers"
It started with having problem for CORS between my front-end (angular2) and back-end (expressjs). Some StackOverflow recommend to use cors-package (for answers in 2016 against those from 2013-2014).

I've used following configuration and CORS still not adding "Access-Control-Allow-Origin":

[code]

this should be classified as bug, right ?

the exact error:

[2017-02-12 17:46] dougwilson commented on #103
This is not a bug, rather you accidentally made a mistake in your `origin` function. The second argument to `callback` needs to be the string of the origin to allow, but instead you are passing `originsWhiteList[origin]`, which is actually the value `true`. Your function should be the following:
[code]

[2017-02-13 01:36] nahwinrajan commented on #103
the readme file state the second callback's parameter is a boolean

[2017-02-13 01:50] dougwilson commented on #103
Weird, then not sure. Can you issue a PR that fixes the issue you are having?

[2017-02-13 16:41] williamliangwl commented on #71
Any solution on this issue? I am experiencing the same issue with @bharat-dpd

[2017-02-14 08:19] swapnil001 commented on #71
Hi,

Facing same issue "For POST type request yes and for GET type no." any fix?

[2017-02-14 09:55] bharat-dpd commented on #71
What i did to resolve this is below
`app.use(function(req,res,next){
			req.headers.origin = req.headers.origin || req.headers.host;
			next();
		})`
I know this is not a best approach to resolve this. just overriding the origin with host if not exist.

[2017-02-15 06:46] shekspir55 opened #104 "Allow CORS on static file serving"
Hello, and thank you for this wonderful lib, dynamic options are the greatest.

Now to problem.
I have this configuration,
`app.options('*', cors());`
All **static** files are loading well but the font files which returns CORS issue.
Static file serving is done this way.
`app.use(express.static(myParh))`

Thank you.

[2017-02-15 08:52] nahwinrajan commented on #103
I believe that only fault is at ReadMe.md file only,
the function actually expecting string of the allowed url (origin url, as you suggested)

[2017-03-02 09:46] tkopczuk opened #106 ""Vary: Origin" not set if Origin is not allowed."
When using the 'array' or 'regexp' notation of whitelisted origins we don't send 'Vary: Origin' if the passed Origin is not allowed.

This results in failed CORS responses being cached by the downstream cache and subsequently served even for proper request (which would contain Vary: Origin, but downstream won't fetch them, as it has the cached response it's looking for).

This behavior is seen wit

[2017-03-23 02:44] dougwilson commented on #104
Hi @shekspir55 it's hard to really say without getting the full app from you to run and debug, but I can at least say that it is probably due to the wrong usage of the module -- you need to `app.use` this module:

[code]

The `app.options` is only a subset and will not apply CORS to the "simple requests", which assets (like fonts) typically are.

I hope that helps!

[2017-03-23 02:44] #104 closed

[2017-03-23 03:02] #99 closed

[2017-03-23 03:25] dougwilson commented on #102
Hi @dcherman Inever heard of that header before, that was a good learning about! Sorry your issue sat here for a while; I'm recently looking after this module so trying to go through everything.

That being said, I think that it is out of scope for this module, since it does not fall into the realm of http://www.w3.org/TR/cors/ and there are probably use-cases where someone would want them configu

[2017-03-23 03:25] #102 closed

[2017-03-23 03:28] dougwilson commented on #98
Hi @Stas-Buzunko sorry for the delay in answering your questions:

1. No, CORS on the origin has no awareness to https
2. No, see number 1
3. No idea, because see number 1

I can certainly look into the issue, but I need more information to reproduce the issue and debug it. Please provide all the following:

1. The version of Node.js you are using.
2. The version of this module you are using.
3. A

[2017-03-23 03:29] dougwilson commented on #91
Weird indeed. I can certainly look into the issue, but I need more information to reproduce the issue and debug it. Please provide all the following:

1. The version of Node.js you are using.
2. The version of this module you are using.
3. A complete application I can download and run. If this uses other modules, please try to either exclude them or write down the versions you are using (exact ver

[2017-03-23 03:32] dougwilson commented on #90
Hi @sgress454 thanks for this long post :) ! I am helping out on this module now and going through the issues. I need to get more familiar with the implementation here to provide insight, but the general answer is any deviation from the W3C CORS spec is a bug :)

[2017-03-23 03:33] #88 closed

[2017-03-26 05:41] #106 closed

[2017-03-26 05:47] dougwilson commented on #103
So after spending the past week getting to know this module better to help maintain it--it turns out that _both_ are correct. The second argument you give to the callback can actually be any valid value to the `origin` option (so, an array, a string, a boolean, etc.).

[2017-03-26 05:47] #103 closed

[2017-03-26 05:51] dougwilson commented on #71
There is not enough information in this thread to determine what is going on. All the proposed changes above are against the CORS specification, which we did not make up. If anyone is still having an issue, I suggest opening a new issue and provide enough detail to reproduce the issue completely, including things like version of this module, version of Node.js, complete code to reproduce and compl

[2017-03-26 05:51] #71 closed

[2017-03-26 05:52] dougwilson commented on #64
Hi @homeslicesolutions can you provide an example use-case this would be used for?

[2017-03-26 06:05] #61 closed

[2017-03-26 06:05] dougwilson commented on #61
I pushed a fix for the next version 👍

[2017-03-26 18:28] homeslicesolutions commented on #64
Basically, I want to be able to approve certain domain patterns for cross origin.  For example, I am hosting a domain like "somehost.dv1.rnd.int" and I want this domain "anotherorigin.dv1.rnd.int" to be approved to make requests.  I want to write my own validation and return true based on a rule I set programmatically.  (Btw, this is a year old so maybe this is solved already.  Since then, Ive wri

[2017-03-26 21:45] dougwilson commented on #64
Hi @homeslicesolutions I think I understand what you're asking. I'm not sure if this feature was added before you after your issue, but it is at least currently present, which I think fulfills your request: you can pass a function as the first argument to `cors()` and perform fully custom logic to alter any aspect of this module based on anything in the request:
[code]

[2017-03-26 21:45] #64 closed

[2017-03-26 22:02] wearhere opened #109 "Why run request handlers "successfully" if the request fails CORS?"
If a request fails CORS as specified by this module's configuration, the module will not set the CORS headers on the response. However, it will [still call `next`](https://github.com/expressjs/cors/blob/075c4b51452542f52ad21898ec781f725c84934d/lib/index.js#L221), causing the usual request handler to run. This can be a problem if the request is expensive to handle, or has side effects.

What is the

[2017-03-26 22:10] dougwilson commented on #109
This is how the CORS specification (http://www.w3.org/TR/cors/) is written.

[2017-03-26 22:10] #109 closed

[2017-03-26 22:16] dougwilson commented on #109
Essentially CORS is written as a form of "double-opt-in" such that a server that has no idea what CORS is is not vulnerable to anything. Your example route would still be vulnerable with a simple `<img src='http://localhost:9999/something-expensive'>` since no Origin header is sent at all, so CORS does not even come into play. It is important to understand what the exact types of protections the C

[2017-03-26 22:27] dougwilson commented on #109
I forgot to mention, that if you do want to implement this, you can do so by passing a `function` to the `origin` option and providing an `Error` object to the callback when you don't allow the origin, causing the Express error handing stack to take over instead of invoking your route. Do keep in mind that you are not getting some kind of security mechanism out of this, as can be demoed by my `<im

[2017-03-26 22:57] wearhere commented on #109
Thanks for the quick and thorough response @dougwilson. I don't see why you would want to "stop" at the CORS specification—what's the use of responding if the response can't be used?—but that's your call. Easy to fix in user-space / another package.

At least in my use case, the `origin` callback can simply return an `Error` if there's no origin header.

[2017-03-26 23:05] dougwilson commented on #109
Hi @wearhere you were asking, technically why the _default behavior_ was the way it was, which is that the default is closest to the specification. We provide mechanisms to differ from the spec as I provided above for your use-case, so I hope that helps.

The CORS specification was never designed as a security mechanism to prevent routes from being called; it was only designed as a mechanism to al

[2017-03-26 23:25] wearhere commented on #109
Ah, @dougwilson your defaults make sense to me. What I wonder is, would you be open to a PR that added a setting to simplify the "have the `origin` callback return an `Error`" approach? Like,

[code]

and then if the origin didn't match ([here](https://github.com/expressjs/cors/blob/master/lib/index.js#L220), and if the origin failed some new checking [here](https://github.com/expressjs/cors/blob/

[2017-03-26 23:34] dougwilson commented on #109
HI @wearhere sure, feel free to make that PR. I'm a little confused, because it won't even work for your use-case; a missing `Origin` header won't be a mismatch at all, just FYI. Also, I think the line references you gave are not at all where those check should go, because they would only apply to the dynamic origin function, not all the others like a static origin string, array, etc.

Please be a

[2017-03-27 07:10] wearhere commented on #109
Here's my PR @dougwilson: https://github.com/expressjs/cors/pull/110 Thanks for your consideration!

[2017-03-29 00:57] troygoode commented on #61
thanks for taking care of this @dougwilson – as well as some of the other recent work. I've bumped and published as `2.8.2`

[2017-03-29 07:24] vajahath opened #111 "Add a change log"
### Consider adding a change log
It is necessary as people want to track changes

[2017-03-29 12:47] akprats33 opened #112 "Cannot read property \'join\' of undefined"
There is no check if `methods` is defined or not in the `options`.

[code]

[2017-03-29 14:24] dougwilson commented on #112
Hi @akprats33 the value is supposed to get back filled from the `defaults` (https://github.com/expressjs/cors/blob/master/lib/index.js#L8-L13), so it is weird that it isn't. Can you share what your call to this module look like that produces this?

[2017-03-29 14:38] akprats33 commented on #112
`
const ENABLE_CORS = {origin: true, maxAge: 4 * 86400 };

/**
 * Checks the origin and enables/disables CORS headers in the response.
 * @param  {Object}   req express request object.
 * @param  {Function} cb  callback that configures CORS.
 * @return {null}
 */
function handleCORS(req, cb) {
	let origin = req.get('origin');

	// Origin matches whitelist
	if (getWhitelist().indexOf(url.parse(orig

[2017-03-29 18:13] dougwilson commented on #112
Thanks, @akprats33 I was able to reproduce. The defaults are not getting mixed in when a function is used, so just need to move around the mixin.

[2017-03-30 02:22] #112 closed

[2017-03-30 02:23] dougwilson commented on #112
Thanks for your patience, everyone. I just pushed a fix for this (and makes the options returned from the delegate act more in line with how it acts when passed in directly) and will publish in an hour or so.

[2017-03-30 02:24] dougwilson commented on #111
I couldn't agree more! I'm going to work on a first pass, including at minimum the 2.8.2 release and see how far back I can get.

[2017-03-30 02:54] #111 closed

[2017-03-30 06:45] vajahath commented on #111
hehe..
loved it :heart_decoration:

[2017-04-14 13:56] pwilver opened #113 "Whitelisting domains with regex, "origin" returning undefined in config"
Trying to resurface the issues presented here: https://github.com/expressjs/cors/issues/71

Here's an simplified version of my `app.js` and initial CORS setup:

[code]

The `console.log(origin)` is returning undefined when accessing the root of my app (i.e. `localhost:8080`). I've also tried a slightly different configuration as follows (still no luck):

[code]

If I can provide any further inform

[2017-04-14 14:03] pwilver commented on #113
Looking at some of the details in this ticket (sorry for the duplicate): https://github.com/expressjs/cors/issues/89

I'm currently doing my testing in Chrome, GET request to my app's root. Sounds like I may not be getting a proper origin value because no origin header is present (same-origin request)?

[2017-04-14 14:09] dougwilson commented on #113
Well, if your browser is not sending the `Origin` request header to the server, then the `origin` variable in your example is going to be `undefined`, as expected. CORS stands for "Cross-Origin Resource Sharing", and is only involved in requests that cross origins; just loading your site directly is not a cross-origin request. You can lean more about CORS in various sources, like Wikipedia: https:

[2017-04-14 14:09] #113 closed

[2017-04-28 22:45] HayDegha0917 commented on #21
How do you guys close the issue when the code is still there??? See index.js, line 153.

It is causing this error in my code:

TypeError: res.setHeader is not a function
    at applyHeaders (C:\data\projects\GitHub\RPS-TargetDB\node_modules\cors\lib\index.js:147:15)
    at applyHeaders (C:\data\projects\GitHub\RPS-TargetDB\node_modules\cors\lib\index.js:143:11)
    at applyHeaders (C:\data\project

[2017-05-03 11:33] fubarred opened #114 "compliance to the standards"
was comparing the middleware's working with the w3c recommendations here https://www.w3.org/TR/cors/

seems like we are missing some cases. eg.

[2017-05-12 02:23] dougwilson commented on #114
Hi @pkjg you're absolutely correct. Feel free to work on a pull request to help bring it up to spec :) !

[2017-05-12 09:06] pkjg commented on #114
sure. although my main concern is that the changed behavior might break many products as this package is quite a famous one.

[2017-05-12 15:00] dougwilson commented on #114
Hi @pkjg that is definitely a concern, but I figured that you didn't share the concern, since you opened the issue. If you're concerned about that, what idea(s) do you have for resolving this issue? I assume you opened it to achieve something?

[2017-05-15 03:38] ddaaggeett opened #116 "app.use(cors()) is simply just not working"
I am at a complete loss. After reading material about cross-origin yadda yadda, I am no further along getting this fixed. The error I'm getting is the well-known:

`XMLHttpRequest cannot load http://127.0.0.1:9095/static/5607de95a10c548d52cf.hot-update.json. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access.

[2017-05-15 03:40] dougwilson commented on #116
I assume that `http://127.0.0.1:9095/static/5607de95a10c548d52cf.hot-update.json` is being responded to from your `express.static` middleware. That means your CORS needs to be prior to that for it to apply to those requests. In other words:
[code]

[2017-05-15 03:45] ddaaggeett commented on #116
I've attempted that and it's still not working.

[2017-05-15 03:47] dougwilson commented on #116
Hi @ddaaggeett have you tried clearing your browser / use private browsing or something? I did run your code and got the error you showed and the new code I posted works just fine. If it doesn't work for you, I'm at a loss, so would need some additional information to get our environments in sync, for example:

1. Version of this module you are using
2. Version of Express you are using
3. The web

[2017-05-15 04:02] ddaaggeett commented on #116
@dougwilson - yup still having trouble.
I'm using:
[code]
As for the exact code and steps I'm using, I'll write in a new comment. If you'd like to dig into this, I'll be very grateful.

[2017-05-15 04:04] dougwilson commented on #116
Yea, I'd be happy to dig into it. Besides the code & instructions, please also list what version of Express you are using, just in case that matters. You posted a range of versions, not the specific version you're using.

[2017-05-15 04:23] ddaaggeett commented on #116
@dougwilson

It looks like I'm using
[code]

The project I'm referring to is [blooprint/output](https://github.com/blooprint/output) in which displays output image content after running [image processing](https://github.com/blooprint/whiteSocket) on images received by [blooprint/input](https://github.com/blooprint/output).

in **blooprint/input**:
run `npm run server` then `npm run android`

in **

[2017-05-15 04:28] dougwilson commented on #116
Hi @ddaaggeett thanks! I'm going to work on getting it all running. But a quick note is that the error you posted:

[code]

It says the issue is that you don't have CORS setup on whatever is running on port 9095, but it seems odd that the code you're posted you're trying to add this module to is running on port 3000. What is running on port 9095? That is the server that needs CORS on it, not the s

[2017-05-15 04:32] dougwilson commented on #116
Right now I'm struggling to get `npm run android` working. I'm stuck with the following message:
[code]

I ran
[code]
as instructed but just continue to get the same error. How do I resolve?

[2017-05-15 04:38] ddaaggeett commented on #116
`port:9095` is the webpack dev server and `port:3000` is the app

I'll have to look a little more into the react-native issue you're facing. I ended up following Facebook's install instructions as best I could.

[2017-05-15 04:40] dougwilson commented on #116
Gotcha. I mean, the error you posted is saying _that is the server not sending the CORS headers_, so adding this module to your app on port:3000 will make no difference for that error message. You need to enable CORS on the webpack dev server however you do that.

[2017-05-15 04:44] ddaaggeett commented on #116
I'll give that a shot - hopefully will have a response within 24 hours.

Yea, don't worry about digging into my project if you don't want to - although PLEASE JOIN if you'd like!! :) I'd love all the help/mentoring I can get.

[2017-05-15 04:46] ddaaggeett commented on #116
Also, a lot of the blooprint/output application is still heavily boilerplate formatted. I know this is frowned upon by many, but for prototyping, it's been great (up until now).

[2017-05-15 05:00] ddaaggeett commented on #116
@dougwilson - last commenting on my end for the evening

it looks like you've put me on a promising path - i'll dig into it and let you know how it goes so we can ultimately close this issue

i believe i'm going to have to bite the bullet and figure out how to upgrade to webpack 2.0 in order to add `headers` to the webpack config file as discussed [here](https://github.com/webpack/webpack-dev-serv

[2017-05-16 13:19] pkjg commented on #114
I needed to implement CORS for the project I am working on, was looking for a middleware, stumbled on this, but lacked compliance so, ended up wiring up myself. I will add that logic to this too and raise a PR (when I get time). We can close the issue for the time being. Its upto the maintainer to merge breaking change or not.

[2017-05-16 17:33] derekshull opened #117 "Send custom 500 error for "Not allowed by CORS""
Is there a way to send a custom response, such as `res.status(500).json({code: 500, message: "Internal Server Error"});` whenever the "Error: Not allowed by CORS" error takes place?

[2017-05-16 17:37] dougwilson commented on #117
Just add an Express error-handler like you would for any other error in Express and implement your custom response logic: http://expressjs.com/en/guide/error-handling.html

[2017-05-16 17:37] #117 closed

[2017-05-16 17:38] dougwilson commented on #98
I'm going to close this since I never heard back.

[2017-05-16 17:38] #98 closed

[2017-05-16 17:39] dougwilson commented on #91
I'm going to close this, but will happily re-open if there is a response :) !

[2017-05-16 17:39] #91 closed

[2017-05-16 17:45] derekshull commented on #117
thanks!

[2017-05-16 17:47] dougwilson commented on #117
No problem. I whipped up a simple example as well (assuming you are getting the `Not allowed by CORS` from our example that produces that error), just place anywhere below the `app.use(cors(...))` (even right after it):
[code]

[2017-05-17 03:17] dougwilson commented on #114
The Corser module (https://www.npmjs.com/package/corser) is the main one with 100% spec compliance for Express AFAIK.

[2017-05-17 19:18] ddaaggeett commented on #116
I believe this is no longer an issue. I've included in the webpack configuration:

[code]
and the CORS issue seems to be handled. Thanks for the tip on getting the header updated on the webpack port and not the app port.  Big help!!!

[2017-05-17 19:18] #116 closed

[2017-05-25 19:25] khalid-s opened #118 "Origin undefined"
Hi all,

I noticed a possible bug: the plugin works great but there are cases where req.headers.origin is undefined thus which throwing the error 'Not allowed by CORS'.

It works when making real cross origin but not when requesting from the same host (which is the case where origin is undefined.

Example:

![mongoose-network-screenshot](https://cloud.githubusercontent.com/assets/7849198/26466878/

[2017-05-25 19:27] dougwilson commented on #118
It's not a bug--the origin is only sent when the browser sends it and so `undefined` indicated there is no origin. This module doesn't throw the error `'Not allowed by CORS'`, either. Perhaps you can share your code to see where the `'Not allowed by CORS'` is coming from?

[2017-05-25 19:30] khalid-s commented on #118
[code]

[2017-05-25 19:31] dougwilson commented on #118
You should probably add a check in there for what to do for same-origin (i.e. when `!origin`).

[2017-05-25 19:33] dougwilson commented on #118
In the next major version, yea, maybe it should not even bother calling your function for the same-origin case so you don't need the check.

[2017-05-25 19:33] khalid-s commented on #118
Already added the check for origin if undefined and it works fine, but I would think that the module itself should not do all the work its doing if we are not making a cross origin request

[2017-05-26 19:46] andreas-gruenbacher opened #119 "Access-Control-Allow-Origin: * conflicts with Access-Control-Allow-Credentials: true"
With this in an express application:
[code]
requests with a CORS header like:
[code]
result in responses with the following CORS headers:
[code]
This is not a combination or CORS headers allowed by Firefox. The error message Firefox produces is:
[code]
When the ```Access-Control-Allow-Origin``` response header is changed to ```http://foo/bar``` instead, everything works as expected.

The ```cors``

[2017-05-26 20:03] andreas-gruenbacher commented on #119
When I add the following option to cors, things work as expected:
[code]

[2017-05-26 21:18] ScorpionXII commented on #119
The problem still persists, I'm having same troubles with an Angular 2 application and Express right now and I tested every option without luck

[2017-05-26 22:22] andreas-gruenbacher commented on #119
@ScorpionXII: Well, a workaround is described in comment 2 but it's not ideal that this workaround is needed.

[2017-06-15 10:14] hyochan35 opened #120 "NOT WORKING ON SAFARI"
works well in chrome but not in safari.

Does anyone have same issues?

[2017-06-28 15:28] iesta commented on #120
I do
I always get 204 on the OPTIONS request

[2017-06-28 18:49] blakeembrey commented on #120
A 204 is correct. Do you have an example app that someone can verify in Safari?

[2017-06-29 08:46] iesta commented on #120
Yes i know the 204 is correct but for some reason Safari considers the request not finished (in the dev tools) but does the POST request as it should. I dont have any example anymore...

[2017-06-29 14:27] blakeembrey commented on #120
I couldn't say what's wrong in Safari, but your example shows that this works contrary to what I understood from your previous post. Could you try adding `Content-Length: 0`?

[2017-07-12 22:32] radius314 commented on #120
@hyochan35 did you find anything else about this issue?  I'm facing a similar smell.

[2017-07-12 22:33] radius314 commented on #120
@iesta did you resolve this somehow?

[2017-07-12 23:48] benjamine commented on #120
`Content-Length: 0` did the trick for us @radius314, @blakeembrey , I sent a PR with that fix:
https://github.com/expressjs/cors/pull/121

[2017-07-12 23:51] dougwilson commented on #120
I just reviewed the PR :) I'll release a new version as soon as it lands.

[2017-07-13 01:25] radius314 commented on #120
thanks @benjamine for jumping on this so quickly, good work!

[2017-07-13 02:47] #120 closed

[2017-07-17 09:02] MatthieuHPP opened #122 "Use the CORS module behind HAProxy"
Hi,

Is there a way to handle cross origin requests in a nodejs, with the CORS module, behind a reverse proxy such as HAProxy ?

Many thanks

Matthieu

[2017-07-17 20:15] dougwilson commented on #122
Hi @MatthieuHPP this module should work fine behind HAProxy, though I have never used it so don't know for sure. If it's not working, please let us know what would need to be changed in this module in order to get it working and we can look at putting out a new release with those changes :) !

[2017-07-18 07:26] MatthieuHPP commented on #122
Many thanks for your answer @dougwilson.
I tried and I can confirm it works. I am happy to use node modules to handle CORS !
It is very simple.

[2017-07-18 07:26] #122 closed

[2017-08-01 22:10] adeluccar opened #123 "How to whitelist subdomain without whitelisting full domain?"
I have a server running on a heroku instance currently configured to allow any CORS request for development purposes. However I'm getting ready to deploy a simple app on a domain that looks like this:

`https://adeluccar.github.io/the-actual-app`

I would like the server to allow requests from this subdomain but not the entire `github.io` domain. The app makes simple GET requests to this server an

[2017-08-01 22:24] dougwilson commented on #123
Yea, you just set thr single origin as the only one:
[code]

[2017-08-01 22:24] #123 closed

[2017-08-01 22:54] adeluccar commented on #123
Hey @dougwilson, I deployed a server version with your code, and while it does block requests coming from my app, it doesn't block GET requests made from Postman. I don't know why it allows them through. Do you? The actual code is in the reference above.

[2017-08-01 22:57] dougwilson commented on #123
Postman is an app and not a wrb browsers, and so doesn't send CORS headers nor honor CORS controls.

[2017-08-01 23:04] adeluccar commented on #123
I understand. But using your code below [(from here)](https://github.com/expressjs/cors#configuring-cors-w-dynamic-origin) actually does prevent it (it shows the default `Internal Server Error`)

[code]
Maybe I should add the subdomain here like so?

[code]

[2017-08-01 23:10] dougwilson commented on #123
You can use that, yes. It will block any non CORS requests, including all requests even from your own domain just loading regular images for example.

You can use whichever works for you :) Maybe I'm not understanding what your original question was. Can you reword it if I'm not getting it?

[2017-08-02 00:57] adeluccar commented on #123
Thank you for your help @dougwilson - I ended up doing that last one and it seems to work as intended. :+1:

[2017-08-17 12:11] raelmiu commented on #60
I have the same issue, between browser and server.
OPTION is handled correctly, but all PUT's return 500s.

[2017-08-22 14:06] jamesjjk commented on #90
@dougwilson any update on this?

[2017-08-22 14:33] dougwilson commented on #90
I have not had time to dig in much. If you have any insight,  that would be awesome!

[2017-08-22 17:31] jamesjjk commented on #90
Hey @dougwilson sure, we noticed line 67 of lib/index.js (master) has a conditional to check if the options.origin parameter is a string. However the isOriginAllowed method seemingly does the same check (line 27). ideally as I understand the spec indicates not to return the origin header at all. which you do by setting it false. However it would require verification.

[code]

[2017-08-22 19:51] dougwilson commented on #90
Sorry, I'm not sure if you really followed the thread above; I didn't write the original code, so replying to me with "you do ..." when you're taking about the code makes it sound like (a) I did and (b) I am fully aware of how it works. The reason I'm asking for help is because I haven't fully looked over the code as I said.

I would suggest maybe helping by putting together a pull request. I'm no

[2017-08-22 19:58] sgress454 commented on #90
@dougwilson I'll make a PR out of the patched version we've been using in Sails; the massive post above was meant to elicit feedback from the community as to whether my expectations for CORS headers were correct.  It sounds like at least one person thinks so :P

[2017-08-22 20:03] dougwilson commented on #90
Yes, if this is operating contary to the CORS spec, then it should be changed. If the CORS spec says the way this works now it should not change. If the CORS spec does not say either way, add it as an optional behavior change.

I haven't really studied how this module is working specifically, which is what I was going to look into.  Just back up the pull request with a reference to what the spec s

[2017-08-22 20:19] jamesjjk commented on #90
I noticed there are a few more problems such as returning the access-control-allow-credentials even when the request is not a valid origin. Also not case sensitive.

[2017-08-22 20:41] sgress454 commented on #90
@dougwilson Actually, not sure how I missed this in the CORS doc before (other than my eyes glazing over every time I look at it), but [this section](https://www.w3.org/TR/cors/#resource-requests) clearly states that if no `origin` header is present in the request, or if the header doesn't match the whitelist, then the server should _not set any additional headers_ in the response.  Same goes for

[2017-08-22 20:55] dougwilson commented on #90
Yea, @sgress454 , that was reported in #114 though the user declined to make a pull request.

[2017-08-23 05:01] sgress454 commented on #90
Alrighty, working on it.

[2017-08-29 13:33] powmedia opened #126 "Access-Control-Allow-Origin header not added to requests sent to error middleware"
If i do `return next(new Error('foo'))` in one of my routes, the `Access-Control-Allow-Origin` header is not added to the response.  Therefore in the client browser I cannot access the contents of the error I sent; instead I get a generic 'Failed to fetch' error.

I can get around this by manually adding the following within my error handler:
[code]

However I don't want to add this to every singl

[2017-08-29 13:37] dougwilson commented on #126
You need to use this middleware pretty much as the very first one. What does your app look like?

[2017-08-29 13:42] powmedia commented on #126
I am configuring routes on a per-controller basis, so it is something like:

`app.js`
[code]

`projects.js`
[code]

[2017-08-29 13:55] dougwilson commented on #126
Gotcha. Can you show in the example where the `return next(new Error('foo'))` is located? Perhaps even can you put together an example app that demonstrates the issue so we can look into what is happening?

[2017-08-29 14:05] powmedia commented on #126
I updated the example in the previous comment - the errors will usually go up the callback chain from the model, then I pass the errors through to the next(err) error middleware.

The error middleware is basically like:

`errhandler.js`
[code]

[2017-08-29 14:22] dougwilson commented on #126
Hi @powmedia your code didn't work as you provided and I had to make a lot of guesses and fixes, but in the end, I wasn't able to reproduce. Here is my console session if you can tell me why I'm getting the `Access-Control-Allow-Origin` header with your example but you are not:
[code]

[2017-08-29 14:24] powmedia commented on #126
Thanks Doug, I will put together an example and let you know on here when I've got it ready

[2017-08-29 17:12] powmedia commented on #126
My bad Doug, going deeper while putting the example together I found the cause: there was a param loader which was running before the controllers, therefore errors raised in that param loader were calling the error handler before the cors middleware got a chance to run.  Thanks for your help!

[2017-08-29 17:12] #126 closed

[2017-08-30 22:32] dougwilson commented on #126
Hi @powmedia it's no problem, glad the issue is resolved :)

[2017-09-02 18:17] tarekgabarin opened #127 "This isn't working"
I followed the simple instructions in the documentation, but I am still getting this dreaded error.

`Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:63342' is therefore not allowed access.`

Can anyone help me? This is the `index.js` file of my backend API, where I try to implem

[2017-09-03 21:04] #127 closed

[2017-09-06 23:30] IAMtheIAM commented on #118
I'm getting origin undefined for GET request to my app. Therefore its not allowing any request to load the page.

[2017-09-07 00:15] khalid-s commented on #118
can you please test the following script

`var path = require('path');
var app = require('./server-config.ts');

var NODE_ENV = process.env.NODE_ENV || 'production';
var config = require('./env-config.ts');
import "reflect-metadata"; // this shim is required
import { createExpressServer, useContainer, useExpressServer } from "routing-controllers";
import { Container } from "typedi";

/**
 * Routin

[2017-09-07 00:19] khalid-s commented on #118
for me this config works:

[code]
origin is undefined when you are on the same server if i am not wrong

[2017-09-07 06:42] shian15810 commented on #119
This is what I use to be compatible with most array use cases with credentials: true

[code]

[2017-09-07 16:49] IAMtheIAM commented on #118
@khalid-s Thanks, adding `origin === undefined` to the if clause made it work. But I still don't understand why origin is undefined. When I call visit localhost:5000, the origin should be `localhost:5000` right?

[2017-09-07 17:22] khalid-s commented on #118
@IAMtheIAM it is because origin is not defined when there are no cross origin request, hence need of CORS. If you were on `http://first.com` and making a request to `http://second.com` then there is a cross origin request, else if both your front end and backend are on the same dns (in your case localhost) there are no cross origin request and the origin parameter is not defined in the http header

[2017-09-10 09:31] avinash0 opened #128 "Node API works in browser but failed through postman"
When calling API https://mywebsite.com/api/register through browser and it returns correct response from server as { "error": false, "message": "Hello World" } If we hit the same request from postman then it returns with some html content as Please enable JavaScript to view the page content. Below is node side code:
[code]
The API requests are working through the browser but not through the postma

[2017-09-10 17:03] dougwilson commented on #128
Hi @avinash0 I just tried that server with Postman and didn't get the response you stated. Can you provide more details so I can reproduce the issue?

[2017-09-11 10:56] avinash0 commented on #128
My projects is located at the internal server which can access only with the internal network. And the public domain url is redirected to the internal url

The domain url is mapped to a child domain. Lets say https://mywebsite.com is redirected to the internal child domain https://internalwebsite.com.
The project is located in https://internalwebsite.com
Let say, if we hit API https://mywebsite.co

[2017-09-12 00:05] dougwilson commented on #128
Hi @avinash0 that is weird indeed. Nothing in this module would produce that HTML, so I have no idea where it would be coming from. I can take a look if you can provide all the source code and instructions necessary to reproduce the issue, otherwise, not sure what I can help with.

[2017-09-19 16:50] sgress454 commented on #90
Wow, time flies.  I actually got the code for this done pretty quick, but ran out of gas re-working all the tests.  Plugging away...

[2017-09-19 18:49] IAMtheIAM commented on #118
@khalid-s Thank you for that explanation, it does make sense now that you put it that way. Great.

Now I wonder, is there anything we can do to stop someone from bypassing our CORS check by spoofing the `origin` header? Its very trivial to do with browser extensions

[2017-09-20 22:33] khalid-s commented on #118
@IAMtheIAM CORS is pretty new as an implementation. The ORIGIN is added by the browser and not by the server itself.

There aint much you can do to prevent bypasing CORS check since the 'black hat' does not even use a browser but instead other tools to bypass your network, server and db security.

You should have a look at hacking to have some basic concepts about it. A great starting point is Kal

[2017-09-28 10:04] ahsanaasim opened #130 "Having issue with cors options"
The following code works.

[code]

But this isnt working. Not sure whats the issue

[code]

[2017-09-28 12:02] dougwilson commented on #130
They both produce the exact same header for me. Can you share more details on your configuration? Like the following:

1. Version of this module
2. A completed app that I can copy and paste to run
3. Instructions for how you are conducting your test

Thanks!

[2017-10-03 06:06] ahsanaasim commented on #130
1. "cors": "^2.8.4",
2. My app.js

[code]

[2017-10-03 12:12] dougwilson commented on #130
The options in this new code is different from the first, but is still working for me. Can you describe the specific issue you're having and maybe even provide instructions for how you are testing the code above? If I can get an understanding of what exactly is not working, I can help.

[2017-10-04 02:21] dougwilson commented on #128
Closing since there hasn't been any further response.

[2017-10-04 02:21] #128 closed

[2017-10-04 03:03] ahsanaasim commented on #130
oh my mistake. Posted the wrong code.

var https = require('https');
var fs = require('fs');
var express = require('express');
var app = express();
var mongoose = require("mongoose");
var winston = require('winston');
var jwt = require("jsonwebtoken");
var cors = require('cors');

// // var passport = require("passport-local");
var port = 9082;

var bodyParser = require('body-parser');
app.use(bod

[2017-10-04 13:28] dougwilson commented on #130
Hi @ahsanaasim thanks for the new code. It's still seems to work fine for me, at least based on the description that the issue is with the options. Can you describe the specific issue you're having and maybe even provide instructions for how you are testing the code above? If I can get an understanding of what exactly is not working, I can help.

[2017-10-13 10:39] jackzhp opened #131 "Should CORS be abandoned?"
I think that CORS design is completely unnecessary, and so should be abandoned. I have laid down my arguments, if you think you know this issue pretty well, would you please look at it, and comment it.

https://github.com/jackzhp/CORS-should-retire
or
http://blog.sina.com.cn/s/blog_93b70ae70102wxe8.html

[2017-10-13 13:29] dougwilson commented on #131
You need to make your case to the web browser vendors. This module just implements what they require and the ability to stop it is in the browser vendor hands, there is nothing I can change.

If you have something specific you want me to do, please let me know.

[2017-10-13 13:29] #131 closed

[2017-10-23 21:43] elmogallen commented on #128
F5 Web Accelerator may be causing this as a security measure, but I admit, I don't understand it enough to know why... I found this trying to figure it out. https://rehmann.co/blog/scraping-by/

[2017-10-24 12:24] elmogallen commented on #128
My IT guy verified it was F5 doing this. It's a bot scan prevention thing. I'm just putting this here for you guys and future me to find... This describes what's happening quite well: https://stackoverflow.com/questions/34707532/python-post-request-not-returning-html-requesting-javascript-be-enabled

[2017-11-07 14:40] ahsanaasim commented on #130
Failed to load ...: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin '...' is therefore not allowed access. The response had HTTP status code 502.

[2017-11-20 11:31] StickNitro opened #132 "Cors is not a function"
Been working fine up until this morning and I am now suddenly getting a type error stating that `Cors is not a function`

My code

[code]

cors: "^2.8.4"
Node: v8.4.0

This only change recently was on Friday when I included the following packages

[code]

and everything was working on Friday and also this morning, same version is deployed on gcloud and this works so I am a little bemused as to why

[2017-11-20 12:11] LinusU commented on #132
Where is `Cors` coming from?

[2017-11-20 12:23] StickNitro commented on #132
It is from the import ```import * as Cors from "cross";```

[2017-11-20 12:40] LinusU commented on #132
I think that it should probably just be `import cors from 'cors'`, that is, remove the `* as` part 🤔

[2017-11-20 12:58] StickNitro commented on #132
ok, slightly embarrassed but have found the problem.  When I made my code changes on Friday to upload files and store them in gcloud storage I added a file in the root of my project called ```cors.json```.  This file contained CORS settings for gcloud.

The import statement was importing from this file and not from the cors package, roomy mistake!!!

[2017-11-20 12:58] #132 closed

[2017-11-21 08:25] drmrbrewer opened #133 "Minor docs bug"
In [this section](https://github.com/expressjs/cors#enabling-cors-pre-flight) it says:

    app.options('/products/:id', cors()) // enable pre-flight request for DELETE request

Surely the comment should refer to **OPTIONS** request?

[2017-11-21 08:53] #133 closed

[2017-11-22 17:47] elijah1210 commented on #119
@andreas-gruenbacher what happens when you add origin: true as part of the cors options? Or do you have a list of accepted values?

[2017-11-28 01:51] piuccio commented on #118
Got to this issue as I was trying to understand why my server was acting weird.

I'm using something equivalent to this

[code]

I see the error log in my app but the next middlewares are still called so I get a 200 with the proper response.

I understand it's expected to have a 200 because no origin means same origin, but seeing that my function was called and the value passed to the callback was

[2017-11-30 18:38] gandarez opened #134 "Access-Control-Allow-Origin is always *"
piece of code
[code]

the response headers are not being set properly.
![image](https://user-images.githubusercontent.com/782854/33448308-ca328a4a-d5ec-11e7-97d2-31831b673b1f.png)

What am I doing wrong? Any thoughts?

[2017-12-07 12:50] oredi commented on #79
I was looking into the code for cors today and I think it might be supported out of the box. It appears that there are undocumented code that supports regular expressions and arrays. When you pass an object to cors() it calls the private function isOriginAllowed with what is inside the origin property if that is not a function. That supports Array and RegExp, so you could actually have a regular e

[2017-12-17 15:11] samuelcastro opened #135 "Enabling CORS Pre-Flight"
Even though I'm enabling pre-flight cors with `app.options('*', cors())` I'm still getting this issue:
[code]

Do you guys have an idea what's doing wrong?

[2017-12-17 15:20] LinusU commented on #135
It seems like you have set `origin` to `'https://my-live-server'`, but you are trying to make a request from `http://localhost:4200`. If you set the `origin` option to `'http://localhost:4200'` it should work 👌

[2017-12-17 23:11] samuelcastro commented on #135
This is pretty my configuration:

[code]

Now I'm receiving:
[code]

[2017-12-18 11:38] LinusU commented on #135
Okay, so I think that the problem is that you are creating a new instance the second time, which doesn't share the config with the first one.

Something like this should probably sort that out:

[code]

or even:

[code]

[2017-12-30 15:03] giocot opened #136 "webpack devServer configuration : "‘Access-Control-Allow-Origin"
Hi all
i'm try to "play" with Webix Jet (https://www.gitbook.com/book/webix/webix-jet/details) that use webpack; now i have the problem with "Access-Control-Allow-Origin " and i was trying to set the "Access-Control-Allow-Origin'" on Headers
below my webpack.config.js file where i have added
`  devtool: 'cheap-module-eval-source-map',
    devServer: {
        headers: {
            'Access-Control

[2017-12-30 16:56] dougwilson commented on #136
I'm not sure I understand in your example where you are using this module, though. Can you point it out?

[2017-12-30 19:03] giocot commented on #136
Hi dougwilson
thanks for your interest. Premise that i not expert in NodeJs,  I will try to explain what i did:
- I downloaded webix jet from  https://github.com/webix-hub/jet-start/archive/master.zip
- unpacked and installed webix jet in Ibm i (As400) via npm install (in Ibm i we run  NodeJs V6.9.1)
- As Dependencies of webix Jet, there is  webpack i think that in installing step also webpack has

[2017-12-30 19:03] #136 closed

[2017-12-30 19:18] dougwilson commented on #136
I'm not familiar with webpack or any of those things, so not sure how to help. I xan help with using this module if you're having trouble using it, but I don't see you using it so there isn't anything I can really help with in those examples.

[2018-01-03 09:30] ChanJit commented on #79
hmm I do have a some tiny problem here, yes the array do support RegExp. But if there have two RegExp the second wont be work. which mean better stay it in one RegExp.

[2018-01-03 09:43] ChanJit opened #137 "Why Access-Control-Allow-Origin is disable when is not inside the array?"
https://github.com/expressjs/cors/blob/f087b416ae23bd31a493b20010f091988df47a0d/lib/index.js#L62

I just wondering why CORS is disable if not found in the array, because it will just accept any type origin which is weird for me.

[2018-01-03 10:02] #137 closed

[2018-01-03 11:34] ChanJit commented on #79
Please just ignore my comment above

[2018-01-15 00:16] Berkmann18 commented on #130
I also have different headers whenever I use the equivalent options.
For instance:
[code]
Will only add the header `Access-Control-Allow-Origin: *` whereas this works:
[code]

I'm using express@4.16.2 with npm@5.6 and node v9.4.

[2018-01-15 00:20] dougwilson commented on #130
The header Access-Control-Allow-Methods is only for preflight requests, so will only be in the response to OPTIONS. Your code has allowedHeaders commented out so you wouldn't get a Access-Control-Allow-Headers header.

[2018-01-15 00:20] #130 closed

[2018-01-15 02:38] sixlive commented on #134
I'm having the same issue with a similar configuration

[2018-01-15 02:42] dougwilson commented on #134
I'm not able to reproduce the issue. Here is the log of my console setting up the given code and making a request to the server. If you can provide further instructions on how to reproduce the issue, I can take a look 👍

[code]

[2018-01-15 02:44] dougwilson commented on #135
Closing since no further response.

[2018-01-15 02:44] #135 closed

[2018-01-15 03:25] sixlive commented on #134
Ok, I'll play around tomorrow or Tuesday and see if I can get some code back together and I'll post back, maybe another set of middleware was overriding it ¯\\_(ツ)_/¯.

Thanks for the quick response!!

[2018-01-15 11:28] sixlive commented on #134
@dougwilson In my instance, this was my mistake. I was looking at the response headers but forgetting that I was using https://github.com/chimurai/http-proxy-middleware. So what I was really looking at were the headers form the proxies downstream.

Thanks again!

[2018-01-26 01:55] dijonkitchen commented on #134
This might be if `corsOptions.origin` is set to a RegExp like `/definitelyNotPassingRegExp/`. Instead of a string. When this is done, it goes to https://github.com/expressjs/cors/blob/master/lib/index.js#L62 and the `false` doesn't throw an error.

[2018-01-26 16:27] #134 closed

[2018-01-26 18:04] dijonkitchen commented on #137
Why was this closed? How did you resolve this @ChanJit ?

[2018-01-26 18:05] dijonkitchen commented on #134
@dougwilson why was this closed? What's the resolution?

[2018-01-26 18:06] dougwilson commented on #134
@sixlive said the issue was resolved above. Is that not the resolution? If not, can you provide a way to reproduce?

[2018-01-26 18:23] dijonkitchen commented on #119
Any updates on this or should it be closed?

[2018-01-26 18:23] dougwilson commented on #119
Needs to be fixed still.

[2018-01-26 18:37] dijonkitchen commented on #114
@pkjg any update on a PR for this?

[2018-01-26 18:37] dijonkitchen commented on #90
I've come across these findings as well. Any updates @sgress454 ?

[2018-01-26 18:47] sixlive commented on #134
@dougwilson my issue ended up being different on further inspection. Not sure I can speak to the original issue.

[2018-01-26 18:48] dougwilson commented on #134
Gotcha. I tried to reproduce the original issue without success. I can always reopen if the original poster replies.

[2018-01-26 18:49] dijonkitchen commented on #134
In my https://github.com/expressjs/cors/issues/134#issuecomment-360661096 I think I reproduce the error.

[2018-01-26 18:52] dougwilson commented on #134
All you're comment there to me is describing the code. You're saying that that is what is leading to the header always being "*" in the response? Can you provide a complete app I can run to reproduce? Alternatively you're always welcome yo make a pull request if you know what the u underlying issue is as to why Access-Control-Allow-Origin is always *

[2018-01-26 18:55] dijonkitchen commented on #134
You can test this out by doing exactly what you did in https://github.com/expressjs/cors/issues/134#issuecomment-357569233 but using the RegExp `origin: /definitelyNotPassingRegExp/` instead of `origin: 'http://localhost:4200'`.

[2018-01-26 18:56] dougwilson commented on #134
But that for me is producing no Access-Control-Allow-Origin header as designed, not Access-Control-Allow-Origin set to *

Maybe we have something else different between us? Can you provide all the steps and code to reproduce? Alternatively you're always welcome yo make a pull request if you know what the underlying issue is as to why Access-Control-Allow-Origin is always *

[2018-01-26 18:59] dougwilson commented on #134
[code]

[2018-01-26 19:01] dougwilson commented on #134
@dijonkitchen as you can see in my terminal above, there is no `Access-Control-Allow-Origin: *` header in my response like the screenshot in the OP, even though I'm using the regexp. The code I'm using is posted above too, so if there's something else I need to change to get `Access-Control-Allow-Origin: *` header, please let me know :) !

[2018-01-27 06:14] dijonkitchen commented on #134
Thanks @dougwilson, I guess I must be missing something. Let's keep this closed then.

[2018-02-06 13:40] sebastialonso commented on #127
I'm having the same issue. Defining just the options route for all routes doesn't work. But manually adding the CORS headers for all routes doesn't work either.

This situation sucks.

[2018-02-06 15:08] sarora2073 commented on #118
+1 on fixing this package (or sample code) to allow requests from the same origin.

imho, the arguments against fixing this don't hold water, for the same reason i lock my doors even though someone can break the windows.

If you're using this package in the first place it's because you see value in doing CORS checking, and, from that stance, it makes sense to support appropriate whitelisting from

[2018-02-06 15:14] dougwilson commented on #118
Hi @sarora2073 it's possible you may actually want to use a different module. this module is called `cors`, which stands for "cross-origin resource sharing". The goal is not to block anything, only to open up your resources to being shared across origins that they are not shared to by default. Ultimately this is all from a spec from the web standards body http://www.w3.org/TR/cors/

Sorry this que

[2018-02-06 15:14] #118 closed

[2018-02-06 16:44] khalid-s commented on #118
@dougwilson i think the issue here is not with the specs of cors but on the way the corsModule handles request.

In a multi level app you may have api which are accessible within the app itself and other request comming from other apps (like for mobile apis).

The point here is that the CORS module should not even launch if the request is not CORS. The solution today is to check if the origin is u

[2018-02-06 16:53] sarora2073 commented on #118
Thanks @dougwilson . I believe i'm using the correct package for the intended use. @khalid-s stated my concern well. Instead of ignoring origin is undefined I think we just need a better (less hackish) way to determine if it's a same-origin request, and not filter those (as default or by configuration in cors package itself). If i can come up with a recommendation on best way to safely determine s

[2018-02-06 17:01] dougwilson commented on #118
Reading both your responses, I feel like you're saying different things. Would one of you mind opening a pull request with the proposed changes to the module to address this? I think that would help clarify what the ask is here 👍 because I still don't know what the ask is.

[2018-02-06 18:23] piuccio commented on #118
I think the only change needed which is inline with the specs is to not call the origin function if there is no header, because the result of that function is later ignored

[2018-02-06 18:25] dougwilson commented on #118
Thanks, @piuccio ! Yea, that was my assessment in https://github.com/expressjs/cors/issues/118#issuecomment-304102246 but no one confirmed that was the right answer. So it sounds like that will be the right change to make in the next major version of this module, then 👍

[2018-02-06 18:37] sarora2073 commented on #118
Hi,

Where i was going with this is, instead of allowing no origin header to bypass CORS. i.e. in lieu of using this approach:

[code]
I thought it would be better to add a check to see if same origin policy requirements are met instead.

IOTW, if same protocol, port, domain exist (from the server's view of the incoming request), then don't apply CORS. Do you think this makes more sense from an ap

[2018-02-06 18:40] dougwilson commented on #118
Hi @sarora2073 thanks for that! It sounds like you are describing access control, trying to lock down access to things that shouldn't be making requests. This is not defined in the CORS standard http://www.w3.org/TR/cors/ unless I'm missing something. Can you point me to it?

[2018-02-06 18:44] dougwilson commented on #118
Specifically, this module is simply here to make it easy to add the response headers specified in http://www.w3.org/TR/cors/ if you want to allow it, and not add the headers otherwise -- it's not here to _block_ any requests, because the web browser actually does that for you as part of the http://www.w3.org/TR/cors/ specification. cURL is not a web browser, so has nothing to do with the CORS spec

[2018-02-06 18:49] sarora2073 commented on #118
Hi @dougwilson,

No, I don't believe i'm talking access control. I believe i'm describing the scenario where CORS shouldn't even apply. I've read that "CORS is a relaxation of same-origin policy while attempting to remain secure. " That said, the same-origin policy should have the ability to work BEFORE cors logic comes into play.

To make my proposed change "safe" to introduce, we could perhaps a

[2018-02-06 18:51] dougwilson commented on #118
Hi @sarora2073 thanks for trying to clarify. I guess I'm still not clear. Are you willing to make the pull request route I proposed above? I think that would help make what changes you're thinking should be made really clear :)

[2018-02-06 19:03] khalid-s commented on #118
@sarora2073 I think on the security part we are not talking about the same thing. CORS is meant for the browser security to prevent end users to be hacked throught javascript XHR. The cURL issue is a server security for your application server.

What @dougwilson is saying is that CORS is not meant to secure your application server but to secure the end user's browser to make sure that all requests

[2018-02-06 19:04] sarora2073 commented on #118
re: PR..glad to work on that sure, but hoping for agreement on approach. Having the code is useless if you don't think it's helping!

Let me take another crack at explaining:

1.  A request from an undefined origin isn't necessarily a request I want to allow through to my API (that's the practical issue i'm trying to address). Same origin requests should be allowed (and they happen to have an unde

[2018-02-06 19:08] khalid-s commented on #118
@sarora2073 correct me if I am wrong, you are suggesting
`if (origin !== request.headers.host) return callback(null, true)`

instead of
`if (!origin) return callback(null, true)`

[2018-02-06 19:15] sarora2073 commented on #118
@khalid-s -- getting closer yes..SOP requires 3 items "Combination of protocol, domain, and port of the browser tab opened" as detailed [here](https://www.moesif.com/blog/technical/cors/Authoritative-Guide-to-CORS-Cross-Origin-Resource-Sharing-for-REST-APIs/)

And if you're thinking this change doesn't require an update to the package per se...i'm getting closer to that conclusion too! (but didn't

[2018-02-06 19:40] khalid-s commented on #118
@sarora2073 just went through the sepcs again and indeed there are no mentions about same origins except for this https://www.w3.org/TR/cors/#cors-api-specification-redirect which does not make any mention about our issue.
On the other side I cant see how you would do it, since origin is undefined in same origin request,, how are you going to check if the origin is equal to the protocol...
I am no

[2018-02-06 19:44] dougwilson commented on #118
We don't need to reopen this issue; looks how many comments have accumulated in here with it being open. Just make the PR :+1: and we can hold on to it until we're read to create the next major version of this module.

[2018-02-06 19:53] sarora2073 commented on #118
@khalid-s - you won't find how to respect same-origin in the cors spec...it's in the same-origin spec. again, this is a pre-cursor to cors. i'll post here if i come up with an approach, and yes, agreed with you both that this ideally would be in the cors package.

[2018-02-07 03:49] sarora2073 commented on #118
update: came up with a possible code fix..you can see it [here](https://github.com/sarora2073/cors/blob/master/lib/index.js):

It needs a little work but that should give you an idea of what I had in mind.

the options would look like this:

[code]

[2018-02-07 23:36] JBaczuk opened #139 "TypeError: Cannot read property 'headers' of undefined"
I'm using Typescript to write a firebase function and am getting the above mentioned error when trying to run my server.  This issue was also mentioned in the comments here: [https://stackoverflow.com/a/37845319/3499115]().

Here is my code:

[code]

[2018-02-08 00:00] JBaczuk commented on #139
I believe I may have found the issue.  Since I defined cors above, I think what I should have done below is:

`app.use(cors)` instead of reinstantiating cors again with `app.use(cors())`

[2018-02-08 01:40] dougwilson commented on #139
Hi @JBaczuk I'm not quite sure how to actually run your code above; just copy and paste and trying to run with the latest Node.js version gives a syntax error:
[code]

I instead tried the example you linked to https://stackoverflow.com/questions/7067966/how-to-allow-cors/37845319#37845319 but it didn't have any error:
[code]

Of course that SO post was written in 2016, a couple years ago. There ma

[2018-02-08 04:35] JBaczuk commented on #139
@dougwilson I'd be happy to help trace this down.  For you information this project is a firebase functions project started from this template: [Typscript - Getting Started](https://github.com/firebase/functions-samples/tree/master/typescript-getting-started).  I added a few libraries, but I'm running it using `npm run serve`.  Here is the full stack trace:

[code]

[2018-02-08 04:37] dougwilson commented on #139
Thanks @JBaczuk . What is at  lint 29 in the file /Users/jbaczuk/Documents/Personal/crypto-dashboard-api/functions/lib/index.js ?

[2018-02-08 04:38] dougwilson commented on #139
Whatever is on that line is calling into the constructed middleware but it's not passing in the arguments `req`, `res`, `next`.

[2018-02-08 04:53] JBaczuk commented on #139
Oh I wonder if it's a transpiler issue.  That file is transpiled from typescript.  Line 29 is `app.use(cors());`.  Here is the whole file:

[code]

[2018-02-08 04:56] dougwilson commented on #139
So if that is the raw JavaScript, I see the error right away: your `cors` variable is the result of `require('cors')({ origin: true })`, which is the export of this module (the factory function), called with the argument `{ origin: true }`. The result is a middleware instance function. Later in your code, you write `app.use(cors())`, which is thus executing the `cors` function with no arguments. A

[2018-02-08 04:56] #139 closed

[2018-02-08 05:02] JBaczuk commented on #139
Yep, I changed the following, and now it runs, nice work:

[code]
To the following:
app.use(cors);
app.options('*', cors);
[code]

[2018-02-21 09:02] RobertoMSousa opened #141 "cors working on localhost but not on production"
Hello.
I'm having a strange issue with cors. My Cors config works fine on localhost but it isn't working on the production. I'm always getting this error.
[code]
This is my cors configuration:
[code]
I have been around this for some time now and I decide that it would be better ask for help, thanks ;-)

[2018-02-21 18:39] #141 closed

[2018-03-05 20:33] lightninglu10 commented on #118
Has any PR been made?

But just jumping in here: the way Django handles this is you give a list of `allowed_hosts`. That comes first before CORS, so if your host is an allowed_host, and the origin is undefined, the request will still pass through.

Easy fix to this is just

[code]

I can make a PR for this, what's the status?

[2018-03-05 21:23] sarora2073 commented on #118
Hi,

The link I sent above has my proposed fix, but I never did a PR, partially because after just a few hours of reading I don't profess to be a subject matter expert here and was hoping someone else would confirm the approach I presented makes sense to check-in.

The fix you have in mind won't work -- at least for the scenario I encountered. When the same origin makes a request there is no origi

[2018-03-05 21:24] lightninglu10 commented on #118
No, the fix I have in mind is setting ALLOWED_HOSTS list. If the origin header is undefined, then you check to see if your HOST is in ALLOWED_HOSTS.

This requires you to put your HOST (ip address, domain, localhost) into a list, but this way outside hosts can't ping your system.

[2018-03-05 21:31] sarora2073 commented on #118
Ah..i called that the "sameOriginHost" in my answer above and its a new proposed configuration parameter..we have the same idea there is sounds like. When i tried out what you're suggesting it turned out there was still a problem, getting it to work..IIRC its because the code always expects an origin header, which is why i had to make additional code changes to the library to accomodate the exempt

[2018-03-08 10:58] amscher commented on #90
I have come across it as well, would be great to have an update @sgress454

[2018-03-12 20:31] sgress454 commented on #90
Thanks for the bump y'all.  Will revisit this week.  Again, the delay was in getting all the tests in order.

[2018-03-16 13:09] xemasiv commented on #119
According to docs at `https://www.npmjs.com/package/cors` :

`origin`: Configures the Access-Control-Allow-Origin CORS header. Possible values:

* `Boolean` - set origin to true to reflect the request origin.

Which means `{ origin: true }` will fix it, as it will set the response header `Access-Control-Allow-Origin` to the value of its requesting origin.

[2018-03-19 18:53] ryanmr opened #143 "CORS on error handling"
While developing a web application, my goal was to catch a 401 HTTP error and attempt to refresh the user's authentication token.

Using the default `app.use(cors())` adds CORS headers to regularly responses, but it seems like this configuration does not apply CORS headers when handling error responses.

It would be great if there was either a mention of this in the documentation or an additional

[2018-03-19 19:17] dougwilson commented on #143
This module doesn't do anything different for error responses or not, and in fact adds headers without looking at anything to do with response codes. Can you point tk where in our source code we're doing something different for error responses?

[2018-03-19 19:29] ryanmr commented on #143
The existing source code is fine, I think. I don't see a special error handler. It's poorly explained in the express documentation whether or not the 4-arity error handling middleware function gets called in the same order/way as the 3-arity function gets called. Perhaps it was confusion across `cors` and express documentation.

Sorry if this sounded demanding. Thanks for the consideration.

[2018-03-19 19:29] #143 closed

[2018-03-19 19:36] dougwilson commented on #143
Gotcha. Yea, this is just a middleware, vs an error handling middleware and would be called in the same way as any other middleware would in the same situation. If you believe the Express.js docs are not clear, the site is open for modifications and I do know first hand it can be difficult to write docs because whar makes sense and is clear to one person may not to another and that person us easil

[2018-03-20 04:20] dbegit opened #144 "cors options are ignored"
Hi,

I try your sample like that
In app.js
[code]
curl -H 'Origin: http://bug.com' http://localhost:3000
So I expect an error (code 500) because :
- origin http://bug.com is not http://example.com
- method GET is not allowed

but I have always code 200:
GET / 200 0.353 ms - 10

I don't understand why options are ignored.
Thanks for your help

[2018-03-20 04:22] dougwilson commented on #144
Hi @dbegit we're trying to follow the spec at http://www.w3.org/TR/cors/ which defines how CORS work. I'm not familiar with anything in the spec saying to return a 500 though. Can you point me to where that is in the spec? We can defiantly make any changes to better align the module to the specification :) !

[2018-03-20 04:39] dbegit commented on #144
you have code 500 when you use callback(new Error('Not allowed by CORS')) like this sample:
[code]

I just ask how cors use corsOptions when it's not the same origin, or when method is not listed
var corsOptions = {
  origin: 'http://example.com',
  methods: 'PUT,POST,DELETE'
}
app.use(cors(corsOptions))

[2018-03-20 04:41] dougwilson commented on #144
I'm not sure I'm following. This module is just trying to follow the spec http://www.w3.org/TR/cors/ which defines how CORS works. I'm not familiar with anything in there saying tk return a 500, but maybe I'm just missing it. Can you point me to where that is in the spec? We can defiantly make any changes to better align the module to the specification :) !

[2018-03-20 05:05] dbegit commented on #144
Can you point me to where that is in the spec?
I just use samples "Configuring CORS" and "Configuring CORS w/ Dynamic Origin" here:
https://www.npmjs.com/package/cors

[2018-03-20 05:06] dougwilson commented on #144
I guess I just don't understand the question you're looking for? Does the example not work for you? If so, in what way?

[2018-03-20 05:24] dbegit commented on #144
yes, "Configuring CORS" doesn't seems to work.

I set:
[code]

When I test cors with **another origin**:
`curl -H 'Origin: **http://bug.com**' http://localhost:3000`

cors returns 200 with the content of the page instead of returning an error (bad orig

So for this sample "Configuring CORS", how cors use configuration in corsOptions

[2018-03-20 05:29] dougwilson commented on #144
As far as I know from the specification http://www.w3.org/TR/cors/ calling with the wrong domain is not an error at all. I could be misreading them. Can you point to where in the specification calling with the wrong origin should return an error? We can defiantly make any changes to better align the module to the specification :) !

[2018-03-20 05:35] dbegit commented on #144
https://www.w3.org/TR/cors/#resource-sharing-check

[2018-03-20 05:38] dougwilson commented on #144
That section looks like it it talking about a response, though you are talking about making a request with a different Origin. Which steps in there is talking about returning a HTT 500 error? Can you quote it here, maybe the link was to the wrong place.

[2018-03-20 05:51] dougwilson commented on #144
Anyway, would you be willing to make a PR to fix the module to follow the spec? That would be super awesome! That may be easier than the back and forth to just help make a code change directly :+1:

[2018-03-20 05:54] dougwilson commented on #119
All good points. So what changes (or any?) should we make here? Perhaps someone would be willing to make a pull request?

[2018-03-20 06:02] dbegit commented on #144
7.1 Cross-Origin Request
7.1.4 Simple Cross-Origin Request
...

**network error steps**

[2018-03-20 06:10] dbegit commented on #144
these samples "Configuring CORS w/ Dynamic Origin" or "Configuring CORS Asynchronously" works well.
I will use it instead of "Configuring CORS"

[2018-03-20 11:57] #144 closed

[2018-03-22 14:57] trickydisco78 commented on #134
@sixlive How did you solve it? I have the same issue. i've hooked this up to http-proxy-middleware and it looks like this middleware controls the access control origin. How do i get the apicache to control this part (as i don't want this header cached)

[2018-03-22 15:06] sixlive commented on #134
@trickydisco78 my issue ended up being a different problem all together

[2018-03-22 15:18] dijonkitchen commented on #134
May be related to #119

[2018-04-08 08:40] przemyslaw-lapinski commented on #137
Yea.. why it was closed. I had a problem with this because in the documentation it was not given that they should be in the table.

[2018-04-13 12:56] fega commented on #144
@dougwilson Hello, I'm also having problems with cors, not working as expected when used a config JSON

Maybe this should not be closed now, @dbegit  never was able to fixed the problem

[2018-04-13 13:05] dougwilson commented on #144
Please make a PR with the fix.

[2018-04-26 04:55] vijaypatoliya opened #145 "The 'Access-Control-Allow-Origin' header contains multiple values '*, *', on NGINX server"
Node Express APP in NGINX server

`app.use(cors());`

Angular App
![screenshot_1](https://user-images.githubusercontent.com/8516363/39286476-ca09ad88-493b-11e8-994b-939389171be5.png)
![screenshot_2](https://user-images.githubusercontent.com/8516363/39286519-068b6422-493c-11e8-81a0-76189054ca43.png)

[2018-04-26 04:56] dougwilson commented on #145
I don't have a NGINX server handy to test with. Would you be willing to open a pull request with a fix?

[2018-04-26 05:59] vijaypatoliya commented on #145
Currently investigating, It seems NGINX also adding `Access-Control-Allow-Origin: *`  for the option request

[2018-04-26 11:55] vijaypatoliya commented on #145
@dougwilson Just updated NGINX configuration to remove `Access-Control-Allow-Origin: *` and now working fine. Thanks.

[2018-04-26 11:55] #145 closed

[2018-05-14 06:51] FourEyebrowXiake opened #146 "I did all the configuration according to CORS requirements, but my post request failed Ask"
my problem:browser don't send a POST request after sending a OPTIONS request.

this is my information about HTTP request(I want to send a POST request, but the back end rejected my request):

General:

[code]
Response Headers:

[code]
Request Headers:

[code]

This is my backend configuration about cors:

[code]

this is my front end code:

[code]

[2018-05-14 12:05] dougwilson commented on #146
All the response headers you pasted look right and should grant access. We can always add a header if there is one missing, just let us know (or make a pull request) with what we need to add :+1:

[2018-06-22 21:40] dougwilson commented on #146
Closing due to no response.

[2018-06-22 21:40] #146 closed

[2018-06-28 14:56] moparlakci commented on #145
Dude this is the best answer from all Google search results. Just an nginx issue!

[2018-07-06 04:41] chovy commented on #144
I am also having problems with cors not working with `app.use(cors({...}))`

[2018-07-15 09:32] slavierouse commented on #113
@dougwilson thanks for this clarification, definitely a saving grace after hours of gnarly debugging! It does sound appropriate that CORS follows spec on passing the origin header, but if CORS only concerns cross-origin requests the library should not be concerned with same-origin requests. Happy to open a PR on this if you agree.

[2018-07-17 05:53] jaybkim1 commented on #127
Did you solve this problem?

[2018-07-17 16:11] njbmartin opened #149 "Update documentation regarding preflight use with other middleware"
I've run into an issue when using a combination of middleware, particularly ones that modify the headers. As it turns out, ordering is important.

[code]

Stumbled onto this issue which reveals the issue is in this `cors` middleware.
https://github.com/helmetjs/helmet/issues/157

Digging through the source code for `cors`, the following line prevents subsequent middleware from being used for the p

[2018-07-17 16:14] njbmartin commented on #149
Additional note, Chrome appears to request preflight for all HTTP VERBS (including POST/GET).

[2018-07-17 16:23] dougwilson commented on #149
I agree. In the preflight section, is this not enough?

You can also enable pre-flight across-the-board like so:

app.options('*', cors()) // include before other routes

Or maybe should the wording be changed? Happy to make whatever improvements you think will help, but need suggestions for what makes sense to you. Would you be willing to put together a pull request with your suggestion?

[2018-07-17 16:30] njbmartin commented on #149
I think the confusion is where people like me have just enabled it across the board using `app.use(cors()`.

https://github.com/expressjs/cors#simple-usage-enable-all-cors-requests

So might be worth adding a note below that.

I'll have a proper read through it this week and see how best to describe it.

[2018-07-17 16:34] dougwilson commented on #149
Yep, I understand.  But it's really hard for me to understand why you are getting confused, exactly, and how exactly to improve the readme to help with that is all. I'm not saying your confusion is invalid or anything, just hard for me to fix the readme if I don't see it the same way, haha. So really need to understand what specifically needs to be changed / improved :+1:

[2018-07-17 16:35] dougwilson commented on #149
Without an actual action item for me to take, leaving the issue open won't really do anything. Take your time to open a pr or reply back with what I can change and will be happy to reopen and make the change :+1:

[2018-07-17 16:35] #149 closed

[2018-07-17 16:40] njbmartin commented on #149
Happy with the action taken and will potentially follow up with a PR soon.

Just tried this example: https://github.com/expressjs/cors#enable-cors-for-a-single-route

So I think there needs to be more emphasis on enabling preflight and what preflight is.

It's written as a comment in the source code:

[code]

It didn't break Chrome for me, but if that comment still rings true for safari then I'd i

[2018-07-17 16:49] dougwilson commented on #149
I think you misunderstood the comment. The comment is about needing to put the content-length header for the 204 code, nothing to do with ending the response.

[2018-07-18 15:16] njbmartin commented on #149
**In short, it is unclear that ordering of middleware is important.**

What is unclear is why `res.end()` is used for preflight and the fact that by default, it blocks subsequent middleware from being used during the preflight request.

It wasn't until I looked at the actual `cors` code that I could see why subsequent middleware is ignored during preflight.

From my testing, the following doesn't

[2018-07-18 15:20] dougwilson commented on #149
Absolutely :+1:

[2018-07-23 09:57] raine commented on #149
Not certain if related to this, but based on the README, and this part in particular:

I would have assumed OPTIONS requests are not served without `app.options` handlers, but with only this configuration

[code]

I'm seeing OPTIONS request getting sent and responded with 204 by express. Have I misunderstood something and this is working as intended?

![screen shot 2018-07-23 at 12 56 24](https://

[2018-07-23 10:31] njbmartin commented on #149
@raine yes, this is part of the confusion.

Your example above is using cors globally, so it enables CORS for everything including options pre-flight.

So there are actually three ways to enable it:

[code]

[2018-07-23 10:43] raine commented on #149
Understood. In that case I would certainly clarify in the README that `app.use(cors())` will enable CORS preflight requests. Currently the "Enabling CORS Pre-Flight" section leaves you under the impression that `app.options()` is the only way.

[2018-08-08 06:56] AlokBansal8 opened #150 "Using in Google Cloud Function"
How can I use this library in Google Cloud Functions?

[2018-08-11 16:33] dougwilson commented on #150
I'm not familiar with Google Cloud Functions. This is just a standard node.js module that is an express middleware. How do you use other express middlewares? I assume you would use this the same way.

[2018-08-23 15:40] tkhuynh commented on #118
Origin from Postman comes over as undefined. Adding `origin === undefined` would allow anyone who use Postman to hit your endpoints.

[2018-09-04 10:54] ahsanaasim opened #151 "nodejs cors issue with image resources and canvas"
I have a nodejs application were cors setup is done using cors package from expressjs.
**My cors setup code is :**

[code]

<img src="https://i.stack.imgur.com/6tlQm.png" />

apis are called from an angular application which is getting server reponses perfectly. So cors is working nicely here. But image resources are getting blocked by cors.

**Url to visit if you want to see the problem :** https

[2018-09-06 15:15] serranoarevalo commented on #134
@wodCZ Jesus Christ, I've been trying to share credentials between server and backend with Apollo and I had this cors problem until I saw your answer, it was the Apollo server overriding it! Thanks so much 🙏🏻

[2018-09-08 10:11] serranoarevalo commented on #119
For future reference, if somebody is using this with Apollo Server, take a look at https://github.com/expressjs/cors/issues/134#issuecomment-413543241

[2018-09-08 19:18] dougwilson commented on #151
Your screenshot is showing CORB issues not CORS issues. As far as I know these are different things. This is just a CORS module. If you know what specifically the bug is and what we need to change, I'm happy to reopen with some direction. In fact, you're welcome to make a pull request as well if you think there is actually an issue with this CORS module.

The link on all those CORB lines goes to h

[2018-09-08 19:18] #151 closed

[2018-09-13 22:21] ezeikel commented on #134
Have literally spent hours trying to figure out why `Access-Control-Allow-Origin` header was being set to `*` somehow. Thank you!

[2018-09-16 16:52] frederikhors opened #153 "Can you better explain `preflightContinue` what is for?"
Can you better explain `preflightContinue` what is for?

[2018-09-16 16:58] dougwilson commented on #153
The preflightContinue option was added by a pull request in case you want to pass the CORS preflight response to the next handler. The PR didn't really explain why one would want to, and not sure myself. Anything in particular you're looking to determine?

[2018-09-16 16:59] dougwilson commented on #153
This is the original PR if it helps: https://github.com/expressjs/cors/pull/40

[2018-09-16 17:01] frederikhors commented on #153
I was looking an answer for https://github.com/expressjs/csurf/issues/162, but I think this is not.

[2018-09-16 17:01] #153 closed

[2018-09-19 18:48] markstos commented on #21
Express 4 inherits in the HTTP ServerResponse prototype:

[code]

Which means that all the methods available on HTTP ServerResponse class are available on the Express response object. This includes the `setHeader` method:

https://nodejs.org/api/http.html#http_response_removeheader_name

This is documented in the opening stanza of the Express "Response" object:

And it links to the docs for the "H

[2018-09-30 06:11] milad145 opened #154 "block iframe and other domain that use my static file"
hi,
first of all sorry because of my poor english language.

I have a node server that serve some static files such as images, css, js and etc.
and i want to block any domain to use my static file and block iframes to show my website.

how can i do that?
is it possible to use cors ?

with regards, Milad Aslani

[2018-09-30 15:36] dougwilson commented on #154
No. This is because what you want it outside what the web technology CORS does. CORS stands for cross origin resource sharing and is designed to open the door further to unblock things the browser blocks by default. Since those are not blocked by default by browsers, it falls outside of the CORS specification.

[2018-09-30 15:36] #154 closed

[2018-10-18 18:04] eduardhasanaj2 opened #156 "Origin parameter equals null"
I am having a problem with cors module. Origin is not null but equals 'null'
[code]

[2018-10-18 18:07] dougwilson commented on #156
Is there an `Origin` header in the request that is literally the string `null`? You can check with `console.dir(req.headers)`.

[2018-10-18 18:08] eduardhasanaj2 commented on #156
the last debug prints true but origin is null is not printed

[2018-10-18 18:11] dougwilson commented on #156
Hi @eduardhasanaj2 can you show what `console.dir(req.headers)` outputs for the request you're getting a `null` string on?

[2018-10-18 18:32] dougwilson commented on #156
I'm not familiar with `XMLHttpRequest`. As far as how this module works, the only way you'd be getting a `'null'` string as `origin` is because `req.headers.origin === 'null'`, which means the request has `Origin: null` in it. Without steps to reproduce the issue, there isn't really anything I can diagnose and fix. You're welcome to submit a pull request if you believe there is an error here, or i

[2018-10-18 18:32] #156 closed

[2018-10-18 18:39] eduardhasanaj2 commented on #156
Most probably is that I am opening file directly in browser, and not from any browser.
Thank you for the help.

[2018-10-22 12:19] Arunachalam commented on #45
Hi All,

Getting an error " Not allowed by CORS" in the API response, when switch Application URL from http to https with port no.

**Source Codes:**
var whitelist = ['https://example1.com']
var corsOptions = {
  origin: function (origin, callback) {
    if (whitelist.indexOf(origin) !== -1) {
      callback(null, true)
    } else {
      callback(new Error('Not allowed by CORS'))
    }
  }
}

app

[2018-11-04 16:06] RemiVillien opened #159 "Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource."
#### Summary

I'm trying to send a POST request from my frontend at http://localhost:80 to my backend at http://localhost:3000

But I get this message
[code]

Here is how my request looks like
[code]

and my backend

[code]

Has you can see I tried manualy adding the response header and also I tried the cors middleware.

#### Context

- axios version: *v0.18.0*
- Environment: *node: 8.12; express:

[2018-11-04 16:37] RemiVillien commented on #159
![image](https://user-images.githubusercontent.com/8604600/47966968-50ac1980-e058-11e8-88c2-396e23013ff4.png)

[2018-11-04 19:05] RemiVillien commented on #159
Resolved, it was a very weird cache issue, I had to completely restart my computer and I installed `express-cache-controller`

[2018-11-04 19:05] #159 closed

[2018-11-04 19:39] dougwilson commented on #159
Hi @RemiVillien sorry I was away this morning and wasn't at a computer to start helping. I see you closed your issue now, though. I'm sorry you were having trouble and glad you were able to resolve the issue.

[2018-11-08 09:34] milianoo commented on #118
I am also facing the same issue on version 2.8.4

[2018-11-13 23:54] JarLowrey opened #163 "Error: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource"
Server:

[code]

Client Request

[code]

Error:

[code]

Headers:

![selection_018](https://user-images.githubusercontent.com/7429786/48450820-92297c80-e75c-11e8-84d9-93eec3170b3b.png)

[2018-11-14 01:18] JarLowrey commented on #163
Also fails with

[code]

[2018-11-14 17:36] JarLowrey commented on #163
I have also been able to get it to work by removing this middleware and setting the cors values directly in express

[code]

If I set this value wrong incorrectly by leaving off the client's port, the error msg is that it was set incorrectly, not that it wasn't set at all like the error this middleware gives me:

Access to fetch at 'http://localhost:5000/charge' from origin 'http://localhost:3000'

[2018-11-14 17:41] JarLowrey commented on #163
And if you want multiple origins

[code]

[2018-11-14 19:17] JarLowrey commented on #163
If you try with a working RegEx you still get the error, ie `origin: [".*localhost.*"]`. The server is at https://github.com/WFPB-fit/wfpb.fit-backend (just clone and `npm i`) but the client is not visible online yet.  Module versions here - https://github.com/WFPB-fit/wfpb.fit-backend/blob/master/package.json

[code]

Copy this function into app.js

[code]

Do `npm run start` in a terminal in you

[2018-11-14 19:32] dougwilson commented on #163
Hi @JarLowrey `".*localhost.*"` is not a RegExp, it's just a string. In JavaScript, you use `/` around a value to make it a RegExp. I.e. you need to do `origin: [/.*localhost.*/]`

[2018-11-14 19:33] dougwilson commented on #163
Following your instructions and fixing https://github.com/WFPB-fit/wfpb.fit-backend/blob/master/src/app.js#L22 as above, results in a working app for me.

[2018-11-14 20:17] JarLowrey commented on #163
Wow thanks! Such a silly mistake...

[2018-11-14 20:17] #163 closed

[2018-11-14 20:20] JarLowrey commented on #163
I appreciate all your work to help me!

[2018-11-14 21:49] dougwilson commented on #163
It's no problem :)

[2018-11-15 08:46] Ash-faq opened #164 "Support for react native"
Without express how this npm is used

[2018-11-15 10:45] LinusU commented on #164
I don't think you can start an HTTP server from React Native 🤔

What are you trying to accomplish?

[2018-11-20 12:41] telmotrooper opened #165 "Disable logging"
Looking at the documentation I couldn't find a way to disable logging to the console.

Every time I send a login form to the server the server log gets filled with a lot of CORS related info.

Is there an option to disable this? Thank you.

[2018-11-20 12:46] telmotrooper commented on #165
My bad, I was actually logging the whole response object and it just showed up when the request was successful (with CORS enabled).

[2018-11-20 12:46] #165 closed

[2018-11-29 13:16] FlamesoFF commented on #116
@ddaaggeett still not working
[code]

[2018-12-01 15:47] RemiKalbe opened #166 "The 'Access-Control-Allow-Origin' header is not equal to the supplied origin."
Hi,

I'm on `node:8.12-alpine` using `cors 2.8.4`.

I have a really weird issue :/

I simultaniously get a reply and an error.

I get
`Access to XMLHttpRequest at 'https://api.account.dwoom.com/users/unique/' from origin 'https://account.dwoom.com' has been blocked by CORS policy: The 'Access-Control-Allow-Origin' header has a value 'http://localhost' that is not equal to the supplied origin.`

Bu

[2018-12-01 21:01] RemiVillien commented on #166
I have also discovered that access-control-allow-origin is set to the correct domain ONLY when axios does the preflight check using OPTION

![image](https://user-images.githubusercontent.com/8604600/49332819-70c9ec80-f5b4-11e8-8c08-e4184e3991be.png)

[2018-12-02 17:38] RemiVillien commented on #166
Also, I don't have any issue on Paw ( Postman alternative )

[2018-12-04 17:48] RemiVillien commented on #166
Hi,

Here is the complete code: https://github.com/RemiVillien/Cors-Issue
I use Docker, so you don't have anything to do to make it work on your machine.
Please note, for the frontend you need to chose between one of the two dockerfiles. There is one in the `build` folder and another one in the `serve` folder, copy the one you want and past it in `frontend/ `. It is Vue.js related, the build one w

[2018-12-11 02:06] ddaaggeett commented on #116
oh boy, i wouldn't even know where to begin. i have no memory of what i was working on while having this issue - but, maybe this may help.

@FlamesoFF, does changing the order help?
[code]

[2018-12-19 22:11] jdgarcia opened #167 "If header has previously been set, using a string value for origin will correctly overwrite it but using a non-string value will not."
This works as expected:
[code]

Calling the `/foo` endpoint from a domain that isn't `http://example.com` is rejected.
It works because if origin is a string the middleware will always set the `Access-Control-Allow-Origin` header to the origin you specified, regardless of whether or not the request's origin matches or not, overwriting the `*` value that was set by the app-wide middleware.

However

[2018-12-19 22:20] dougwilson commented on #167
Thanks for the report. This middleware was never designed to be used twice for the same route, as you are using it. I'm sure there are a lot of edge cases and issues, apart from what is reported here.

I'm thinking either

(1) document that you can only use this middleware once per route or
(2) add proper support for using it multiple times per route, fixing all the issues to make this a supported

[2018-12-20 04:17] jdgarcia commented on #167
I guess my question is if my use case is a common use case or not? We initially just wanted to enable every route, but later on we added a particular route that we wanted to lock down to a few domains. The alternative solution would be to remove the top-level cors middleware and add it to every single route in our app, though that doesn't seem ideal.

[2018-12-20 04:21] dougwilson commented on #167
Well, since this is the first time it has ever come up to my knowledge I guess not, but not everyone will open an issue, so I don't have a way to know otherwise.

Yes, if you still want every route to be shared to all origins, adding everywhere is not ideal, I agree. There are of course many other ways to still do this without having two cors middleware on one of the routes, so if I had an example

[2018-12-27 02:11] jacobg commented on #117
Why do
`callback(new Error('Not allowed by CORS'))`
 vs
`callback(null, false)`?

[2019-01-04 04:40] troygoode commented on #164
@Ash-faq this module is used to let a server like your Web API tells clients, like your React Native client, which domains are allowed to call into the Web API. This is enforced by the client at the browser-level, not by the server.

I'm a bit surprised that you'd be encountering any issues with a React Native client, since I wouldn't expect that it would be bound by CORS (since it isn't running i

[2019-01-09 21:30] philmetzger opened #168 "504 blocked by CORS policy: Response to preflight request doesn't pass access control check"
So a little about my setup. I basically have 2 directories. 1 is API and the other is FrontEnd (Next.js).
In FrontEnd I have ran npm run build followed by npm run start which has started my served on port 3000.
My backend API is run by Laravel which i have started by running "php artisan serve".  Now when I access my site through that port and perform a certain action I get the following error mes

[2019-01-11 08:13] cfi2017 commented on #168
You don't even seem to be using the library. As for why the script does not work, make sure it responds to 'OPTIONS' requests with the corresponding headers for each of the regular requests.

[2019-01-11 08:21] #168 closed

[2019-01-12 16:45] g6123 opened #169 "Reflection on Access-Control-Expose-Headers"
It would be nice to support reflection on `Access-Control-Expose-Headers` header. For example, following configuration allows access to any response header whose name starts with `X-Namespace-`.

[code]

Supported types may include: boolean value, string, comma-separated string, RegExp., function predicate, and array of all of them, some of which are already supported in the case of `origin` or `a

[2019-01-19 16:44] jregeimbal opened #170 "req.headers.origin is undefined with Express 4.x.x"
Hi, I'm in the process or transitioning from my own CORS implementation to this package on an Express 4.x.x app.  During my own work I noticed that req.headers.origin has become req.headers.host.  You can see this in the below dump:

[code]

It seems this package will not work properly with express 4 when using the dynamic origin.

I think this issue may have been impacting some of the folks on th

[2019-01-19 16:50] #170 closed

[2019-02-15 20:49] jnardone opened #171 "Disable CORS on some routes?"
In our app, most of our routes should be only allowed by our client.

However, we have a few public-all routes.  Is there a way to configure CORS centrally to apply different policies based on route matching?  Or to do specific exclusions to CORS enforcement?

[2019-02-15 20:51] dougwilson commented on #171
Hi @jnardone there are many ways you can do this. In general, this middleware is controlled just like you would control any other middleware in Express.js though route ordering and matching.

If you can provide, maybe, an example app I can help show a way to implement the middleware configuration you're looking to achieve.

[2019-02-15 21:05] jnardone commented on #171
What I'd like to be able to do is first declare all my routes (we're using feathersjs, and we've got some nested files and not as much clean separation between world-public and not in there) and elsewhere add in cors, and be able to declaratively tell the cors middleware which routes it should apply to and not.

[code]

Basically, I want to NOT rely on sequence of loading and be explicit about wha

[2019-02-15 21:08] dougwilson commented on #171
So Express.js itself will only run routes first to last, in the exact order they were added into the router table (though app.use, app.get, etc). Using a middleware after the routes will not apply to them, as the middleware will not be called. This isn't something this module can solve though a change in it's source code.

You can declare the middleware prior to your routes, though. What URLs are

[2019-02-15 21:09] dougwilson commented on #171
In other words, what are the exclusion inclusion rules so I can provide an example?

[2019-02-15 21:12] EstebanMarin commented on #116
That last part help a lot

[2019-02-15 21:15] jnardone commented on #171
I had the 2 calls flipped from earlier.
But basically, ideally I would want to apply a set of wildcard-capable matches as to whether or not the cors implementation applied.
e.g.
[code]
(akin to https://github.com/Wirewheel/connect-history-api-fallback#exclusions)

[2019-02-15 21:23] dougwilson commented on #171
Thanks! So there is a simple example. The `path-to-regexp` module is what Express.js uses to translate your paths into regular expressions under the hood.

[code]

There may already be a module out on npm that does this for you, but I'm not familiar off-hand. If there is or you want to publish one, let me know and I can always link to it when folks need help!

[2019-02-15 21:24] jnardone commented on #171
oh awesome.  thanks, will give this a go

[2019-02-15 21:26] dougwilson commented on #171
cool, let me know. note that I didn't completely test it yet, just wrote it out, so may have a typo (🤞 it doesn't). The nice thing is that ideally it provides the same functionality you linked to (https://github.com/Wirewheel/connect-history-api-fallback#exclusions) but you can apply that to _any_ middleware rather than each middleware you happen to need needs to add the feature.

[2019-03-01 18:03] ajsharp commented on #119
@dougwilson The problem is chrome blocks the request if you're using `allowCredentials` and the server returns `Access-Control-Allow-Origin: *`. That's what @xemasiv shows above. Unfortunately this library is effectively unusable if those are your requirements and you just have to write your own middleware.

IMO, he fix is, if you're using a function to set the origin, or if you're using a regexp,

[2019-03-01 18:07] dougwilson commented on #119
Hi @ajsharp I think you may be misunderstanding. The library is only "unusable" if you do `app.use(cors({credentials: true}))` as shown by the OP. All you need to do is add `origin: true` if you want to allow all in combination with credentials: `app.use(cors({credentials: true, origin: true}))`

[2019-03-01 18:09] dougwilson commented on #119
If you have a fix in mind, though, you're welcome to make a pull request. I don't believe anyone has actually made a pull request yet around this issue, so one is welcome so we can look at. Even if that pull request would result in a breaking change release, that is perfectly fine.

[2019-03-01 18:11] dougwilson commented on #119
@ajsharp can you clarify what specifically you're referring to when you say

I only have two comments above that I made:

https://github.com/expressjs/cors/issues/119#issuecomment-360864174

https://github.com/expressjs/cors/issues/119#issuecomment-374484742

What requirements did I make? Is it just the request for a pull request?

[2019-03-01 19:57] ajsharp commented on #119
@dougwilson Hey, apologies if "effectively unusable" came off harsh. Definitely not my intention, though realized after the fact it could've come off that way. To clarify, what I meant was, if you need credentials and want to use a function to whitelist the domains you want to allow, returning * for the Access-Control-Allow-Origin header breaks chrome.

I'll try to put together a PR and we can con

[2019-03-01 20:08] ajsharp commented on #119
@dougwilson Oh man, my sincere apologies. Somehow I got this screwed up. This indeed does work as expected, setting the `Access-Control-Allow-Origin` header to the request origin. So sorry for wasting your time!

FWIW, I think this issue can be closed.

[code]

[2019-03-11 11:46] stann1 commented on #166
+1
I also have the same setup (whitelist with several domains) and it seems that from time to time it sets the 'Access-Control-Allow-Origin' to a random selection from the list

[2019-03-11 20:09] ITZHAKTZADOK opened #172 "exposed headers"
Hi,
I'm using cors with this setup:
[code]
and this is the response im sending from server-side:
[code]
when I try in angular to reach response.headers.get('x-auth-token')
im getting error that saying: "cannot read property get of underfined".

I don't understand what im doing wrong,
 I thought that if im putting x-auth-token inside the exposedHeaders key in the cors object I will be able to reach

[2019-03-11 20:33] hevelson commented on #164
I was make tests with a express API and folowing the example for whitelist domains, and aways get "Not allowed by CORS" for this verification in a React Native App Request:
`if (whitelist.indexOf(origin) !== -1) {`
`      callback(null, true)`
`    } else {`
`      callback(new Error('Not allowed by CORS'))`
`    }`

When i check the `origin` it is `undefined`.

How should be a selection list to i

[2019-03-11 23:27] dougwilson commented on #172
The error you're having is unrelated to this module. The error is saying that there is no headers property on the response object in your code, so you cannot call .get().

[2019-03-11 23:27] #172 closed

[2019-03-20 05:31] StupidSexyJake commented on #166
I'm having a similar issue. Stackoverflow post that explains the issue in full posted here:

https://stackoverflow.com/questions/55253237/cors-preflight-response-doesnt-match-actual-response

[2019-04-01 00:20] asaldivar commented on #166
@StupidSexyJake Literally been trying to figure out why my CORs middleware was being hijacked all day. THANK YOU!

[2019-04-27 11:23] robinscholz commented on #92
@breneser could you possibly share your final code?

[2019-04-28 16:28] #171 closed

[2019-04-28 16:31] dougwilson commented on #164
When `origin` is undefined, it means the client is not using CORS, so the request falls outside of CORS. If you want to use CORS, you'll need to consult the client documentation on how to enable it.

[2019-04-28 16:31] #164 closed

[2019-04-29 12:12] udhaya-un commented on #132
thank you working fine

[2019-05-11 15:48] ejcx commented on #119
Hi. I'm a weird CORS security person who sometimes looks in to different libraries and have fixed a number of CORS issues in different libraries. This issue caught my eyes. I reviewed the code for just a couple of minutes and the implementation looked fine to me.

One issue I see regularly is libraries will take a `origin: *` configuration and reflex all origin headers, which can result in users o

[2019-05-12 00:31] dhowe opened #174 "Response to preflight request doesn't pass access control check"
I have a client app (on localhost:3000) that calls my express server on heroku with authorization credentials. I've tried the following options in the server but requests always fail with the error below (Ideally i'd like the server to respond to ALL valid requests regardless of source).

1.

[code]

2.

[code]

Failed to load https://SERVER_NAME.herokuapp.com/api/users/: Response to preflight req

[2019-05-12 00:41] dougwilson commented on #174
Hello! Sorry you are having trouble. The error your browser is displaying is saying that because you have request's credentials mode as 'include', you cannot respond with the origin of `*`. Since the default value of origin is `*`, you'll need to either

(a) not use credentials mode of 'include' in your client or
(b) provide a value to the `origin` option

I hope this helps!

[2019-05-12 00:41] #174 closed

[2019-05-12 00:44] dhowe commented on #174
Thanks @dougwilson

[2019-06-06 20:55] erickgannem opened #176 "CORS prevent server from giving response"
Hello, I would like to ask about this particular problem. It's the first time I face it, and I found it weird.
The problem is, as soon as I add CORS middleware, my server stops from giving response no matter the type of the request. Here I will add some screenshots that show the issue.

## before adding CORS everything seems to work fine.
![wo_cors1](https://user-images.githubusercontent.com/30934

[2019-06-06 21:03] dougwilson commented on #176
You're missing the `()` after `cors`.

[2019-06-06 21:03] #176 closed

[2019-06-07 10:40] wassafr opened #177 "Unable to change some CORS settings"
Despite the configuration options in my code it seems some CORS options are overridden somewhere. Here is my code bellow:

[code]

And the response headers bellow:

<img width="491" alt="image" src="https://user-images.githubusercontent.com/10235180/59098278-20936480-8920-11e9-988b-06120e8e8b22.png">

As you can see, `Access-Control-Allow-Headers`,
`Access-Control-Allow-Methods` and `Access-Contro

[2019-06-07 11:34] pascallemoine commented on #177
Same problem :

[code]

On the preflight request in Chrome, the header `Access-Control-Allow-Origin` is set to `http://localhost:8080` as expected.

But, the following POST request has the `Access-Control-Allow-Origin` set to `*` which fails the request :

[code]

[2019-06-07 11:46] wassafr commented on #177
@pascallemoine
Even the preflight fails for me, with the same error message as yours.

What's your Apollo and Chrome versions?

Mine:
[code]
Chrome 74

And graphql-yoga:
[code]

[2019-06-07 11:53] wassafr commented on #177
I'm so stupid... After checking on other browser and seeing it was working perfectly, I remembered I had a CORS extension activated in Chrome.

Working perfectly now...

[2019-06-07 11:53] #177 closed

[2019-06-17 15:23] mderazon commented on #156
@dougwilson I have a question.
Let's say you have whitelisted single domain (as string passed to express-cors options)
What should be the behavior of the library if `Origin` header is not passed in the request ? Should it block the request ? I could not get an answer from any of the tests / code

Thanks.

[2019-08-03 21:54] tsogi opened #179 "Requesting url without "http://" prefix doesn't allow cors"
`axios.get("localhost:3008", { token: "eyJhb..." })`
// This gives error: Access to XMLHttpRequest at 'localhost:3008' from origin 'http://localhost:3001' has been blocked by CORS policy

`axios.get("http://localhost:3008", { token: "eyJhb..." })`
// While this works fine

This is the content of my express server.js:
[code]

[2019-08-06 08:27] fentas commented on #119
I am using `app.use(cors({credentials: true, origin: true}))`.
With that it will work for the `OPTION` request ~ `access-control-allow-origin` contains the domain. But the followup request `POST` (in my case) will fail because will contain `*`. And chrome does not like this.

Anyone having the same phenomenon?

[2019-08-07 04:08] blakeembrey commented on #179
@tsogi Is axios doing something to prefix `http://` for you? If not, you're making a request to a page that just doesn't exist - the URL should be qualified or relative to your page, there is no `localhost:` protocol for it to connect to.

[2019-08-07 06:32] tsogi commented on #179
@blakeembrey axios doesn't have problem reaching the end point, it resolves url correctly in both cases with and without `http`.

If you forget `http` with `localhost`, which may happen often, you get the error which is general and doesn't give any details so it's hard to debug and find the reason of the error so I thought maybe there could be done something on the package side so that it handles

[2019-08-08 03:54] blakeembrey commented on #179
@tsogi Do you have this working without `http://`? If not, how do you know it resolves in both cases? I'm pretty sure, but can't confirm without testing it myself (so please share a reproduction if you have one ready), that the issue is your browser is failing to connect to `localhost:3000` without `http://` and this has nothing to do with this package, since it wouldn't be connecting to the serve

[2019-08-08 03:57] blakeembrey commented on #179
For example, in Safari, you'd see:

In chrome:

[2019-08-08 11:30] tsteuwer-accesso commented on #171
@dougwilson , can you change your answer on this comment: https://github.com/expressjs/cors/issues/171#issuecomment-464205090 to be `req.url` not `req.pathname` as that doesn't exist on `IncomingMessage` for others that end up coming here? Thanks!

[2019-08-08 13:24] dougwilson commented on #171
The example won't work correctly against req.url. But req.pathname is my mistake; it should read req.path

[2019-08-13 10:25] thw0rted commented on #119
Just an idea: if the user sets `credentials: true` but has *no* value for `origin`, would it be appropriate to immediately log a warning, e.g.

You could then treat `credentials` as unset / false, because the browser is going to ignore the ACA-Credentials header anyway, if you set it.

My original suggestion was going to be that `credentials: true` should be treated as also setting `origin: true`

[2019-08-13 10:42] thw0rted commented on #170
Host is not the right header.  Try making two servers on localhost, call them frontend (8080) and backend (8081).  When you execute a `fetch` from a page loaded via frontend, the `req.headers.host` value is `localhost:8081`, i.e. the port of the backend service, but `req.headers.referer` is `https://localhost:8080/index.html`, i.e. the port of the frontend.

I'm still digging but I think there are

[2019-09-27 04:18] minimaluminium opened #181 "Pre-flight requests on simple requests"
If I haven't misunderstood, the pre-flight requests won't be made on simple requests `GET` and `POST`, but only complex ones like `DELETE`. However, these requests with status code 204 are being made on all requests.

![Screen Shot 2019-09-27 at 12 12 30 PM](https://user-images.githubusercontent.com/1418797/65741822-1f30b680-e120-11e9-8c21-36a34591f6c5.png)

My config is like below.
[code]

Is thi

[2019-09-27 04:21] dougwilson commented on #181
The ways CORS works is that your client (usually web browser) is what is actually deciding to make this requests, not this module. This module simply is a method to respond to the client when it does make them.

So as for why those requests are being made -- you'll need to consult the support for your browser instead of this module. You can see for yourself that this module is not creating them by

[2019-09-27 04:21] #181 closed

[2019-10-24 10:03] nomi9997 commented on #116
I am using react-rewired how can I add cors?

[2019-11-09 07:32] Chorer opened #182 "Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource"
I'm trying to send a PUT request from my frontend at http://localhost:3000 to my backend at http://localhost:3001.
But I get this message:
[code]
Here is how my request looks like:
[code]
and my backend:
[code]
As you can see, I tried manualy adding the Access-Control-Allow-Origin making it equal to the Origin of the request,which is http://localhost:3000.But I still get the error saying that I di

[2019-11-09 07:35] Chorer commented on #182
![1111.png](https://i.loli.net/2019/11/09/NZITHUnQWiMStAb.png)

[2019-11-09 15:20] #182 closed

[2019-11-27 18:59] BetiDev opened #183 "Orgin is undefined"
Hello, I hope you are having a good day. In my express app, whenever I run this code (i know origin is spelled wrong when I am calling the function):
[code]
origin keeps returning as undefined.
I've not found any other issue of this that has been fixed.

[2019-11-27 19:07] dougwilson commented on #183
The origin is undefined for non-cross-origin requests, typically. That variable just contains the origin sent by your client.

If you think your client is, in fact, sending an origin and it is still coming in as undefined, then you're welcome to make a pull request with a fix for your specific case. If you're not sure what the issue is, we can help make a fix, but need enough information to reprod

[2019-11-27 19:09] dougwilson commented on #179
The error above is not coming from this module, so if the comment is to improve the error message, it would seem out of scope of this module.

Since the issue seems to be stale, I'm going to close it.

But if someone things there is a clear, specific action this module should take, please express it here and the issue can always be reopened.

[2019-11-27 19:09] #179 closed

[2019-11-27 19:09] BetiDev commented on #183
How do I check if it is my client that is causing the error?

[2019-11-27 19:11] dougwilson commented on #183
I would guess that it would be looking at the manual for the client you're using? Not sure off-hand, there are so, so many possible clients out there to even be able to make a generic guess unfortunately :(

[2019-11-27 19:13] BetiDev commented on #183
I don't get what you mean when you say manual for your client. Manual for express js? Could you give an example of a client?

[2019-11-27 19:13] dougwilson commented on #183
So express js would be a server; it isn't making outbound requests. A client would be whatever the software you are using to make the http request to your express js server.

[2019-11-27 19:15] BetiDev commented on #183
So I'll have to check Chrome manual?

[2019-11-27 19:15] dougwilson commented on #183
Most likely whatever JavaScript library you're using to make the requests that is running within Chrome.

[2019-11-27 19:17] BetiDev commented on #183
Ok, thank you. 👍

[2019-11-27 19:17] #183 closed

[2019-12-23 03:34] hacksparrow commented on #119
CORS is a confusing and misunderstood specification for most developers. It would be very irresponsible on our part to assume that someone forgetting to set the `origin` value meant to make it reflective.

The current behavior is the best default: since the combination is not acceptable to the browser, you will encounter an error and will be forced to review your code.

To those setting `{credenti

[2019-12-23 03:34] #119 closed

[2019-12-23 03:40] hacksparrow commented on #166
Since @RemiKalbe's example app https://github.com/RemiKalbe/Cors-Issue is not online anymore, I am assuming it was caused by a third-party middleware like others have pointed out. Will close this, if anyone faces the same issue, feel free to open a new one.

[2019-12-23 03:40] #166 closed

[2019-12-30 09:17] thw0rted commented on #119
@hacksparrow  are you opposed to adding a server-side warning (i.e., in this library) when options are supplied that are guaranteed to generate browser errors?  If so, maybe at least a warning in the docs for `credentials` along the lines of "must be used with an `origin` value other than `false`"?  Just thinking of something to sand down rough edges for new users.

[2019-12-30 22:14] CodingDotExe commented on #159
hi, I'm sorry to reopen this issue, but i'm having the same error when trying to make a simple request to my node server.

That's my back-end:
[code]

I don't know how to solve it. Please, help !

[2020-01-27 05:37] jitendrajeet commented on #80
How POST method  make allowed by Access-Control-Allow-Method in OPTION response

Any reply...

[2020-01-28 15:32] bhargavr445 opened #184 "has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource."
In my app I am redirecting the URL to SIngle-Sign_on server from '/login' end point. I am getting the CORS issue which is below.

app.get("/login", function(req, res) {
  sp.create_login_request_url(idp, {}, function(err, login_url, request_id) {
    if (err != null)
      return res.send(500);
    res.redirect(login_url);  //when redirecting to this login_url I am getting below error.
  });
});

[2020-01-28 15:35] dougwilson commented on #184
What domain are you making your `XMLHttpRequest` from and to? CORS is a client-side operation; first you need to identify (1) what page is making the blocked `XMLHttpRequest` and then where it is making the request to. The error you pasted seem incomplete, so I'm not clear on how to help. Also it would help if you also included which domain the above Express code is running under as well.

[2020-01-28 15:47] bhargavr445 commented on #184
I am making request from UI(https://localhost://3200) to Node js route(/login) running on (localhost://8090), after hitting node js I am making a call to Single-sign-on using SAML methods, in respone I am receiving URL(https://sso.dol.gov), after receiving URL I am using response.redirect(https://sso.dol.gov). This is when I am getting error.

[2020-01-28 15:49] dougwilson commented on #184
Gotcha. So which one of those parts are using `XMLHttpRequest`? It sounds to me based on your description like the `XMLHttpRequest` is the request to localhost:8090, which is redirected to sso.dol.gov. If this is the case, the sso.dol.gov domain is what needs CORS policy applied to it to allow calls from localhost:3200.

[2020-01-28 16:07] bhargavr445 commented on #184
But to http://sso.dol.gov request is going from nodejs(https://localhost:8090).

[2020-01-28 16:08] dougwilson commented on #184
Maybe I'm just not understand what you're describing. Can you provide a way to reproduce the issue locally? Or, do you know what needs to be fixed in this module? I want to help, but need to understand the issue first :)

[2020-01-28 16:15] bhargavr445 commented on #184
Frontend: React.js (localhost:3200)
Backend: Node.js(localhost:8090)
From UI request is coming to /login route
app.get("/login", function(req, res) {
  sp.create_login_request_url(idp, {}, function(err, login_url, request_id) {
    if (err != null)
      return res.send(500);
//login_url is something like this(https://sso.dol.gov?samlResp=simeString)
    res.redirect(login_url);
  });
});
when red

[2020-01-28 16:18] dougwilson commented on #184
Ok. That doesn't seem like any more information that what has already been provided. t sounds to me based on your description like the `XMLHttpRequest` is the request to localhost:8090, which is redirected to sso.dol.gov. If this is the case, the sso.dol.gov domain is what needs CORS policy applied to it to allow calls from localhost:3200.

[2020-02-14 13:48] enzoferey opened #185 "Array of origins including wildcard"
Hi,

While implementing some CORS for a backend that allows different origins depending on the environment (development, stage, production, etc.) I found out that the behaviour I was expecting for a wildcard origin as part of an array of origin was not matching the actual implementation. Let me show you some code:

[code]

You can imagine that `ORIGINS_WEBSITE_A` and `ORIGINS_WEBSITE_B` change dep

[2020-02-14 15:29] dougwilson commented on #185
Hello, thank you for your comments! I'm a bit unclear on what the action you are looking for is, though? In your example, I would assume that you're saying you didn't realize that you should have written `const ORIGINS_WEBSITE_B = ["*"];` as `const ORIGINS_WEBSITE_B = [/.*/];`, is that right?

[2020-02-14 15:31] dougwilson commented on #185
Ok, I think I got it: since this module accepts  `origin: "*"` to mean any origin, the suggestion here is to also allow the `"*"` to appear as any event in the array and also mean the same thing ultimately, correct? Yes, we can do that, though I think that is likely a breaking change, especially if someone didn't realize that and suddently their site becomes more accessible than it was before. I w

[2020-02-14 16:10] enzoferey commented on #185
Exactly. It was not intuitive to me to need to write `/.*/` when using the array syntax and `"*"` when using the string syntax.

It's probably a breaking change indeed. Although one could argue that if somebody wrote `"*"` that's probably what that person wanted to do 😄

Let me know if you need any help. My first thought is to extend the `isValidOrigin` function to return true if `string` and `===

[2020-02-14 16:19] dougwilson commented on #185
Oh, I agree. And if this was not a security context, I would agree. But since this context is in security, and this could suddenly widen access on someone, it is better to be careful in this regard and err on the side of breaking in my opinion.

[2020-03-10 14:32] Chaphasilor opened #187 "Using preflight with express routing?"
Hi, in my API server I'm using CORS to allow access to my API from certain origins.
However, I can't get complex requests (e.g. PUT, DELETE) to work.

As soon as I call `router.use(cors(corsOptions));`, with `router` being the main router that handles my API, all preflight requests fail, even if I use `router.options('*', cors(corsOptions))` or `router.all('*', cors(corsOptions))`, as suggested by

[2020-03-10 22:20] jonchurch commented on #187
Are you making the requests from the same origin as the server is hosted at? I.E. are you making the requests to `localhost` from a page who's origin is `localhost`? Under those conditions, I don't think the browser will send a pre-flight at all because it's not cross-origin.

What is the behavior you're seeing, vs what you expect? Using your code, I was unable to reproduce your issue, but I don't

[2020-03-11 08:18] Chaphasilor commented on #187
I'm making a request from `localhost` to `api.localhost`, so it is cross-origin. I'm expecting my `router.put` endpoint to handle the request, but instead I'm getting a `500` response along with `Not allowed by CORS`.

## My code is working, but my software is not...

I'm using the Talend API Tester to automate my test, and it seems like this is what's causing the issues. Using the fetch method fr

[2020-03-11 08:18] #187 closed

[2020-03-11 08:50] Chaphasilor commented on #187
In the end, the issue was that the requests made by Talend API Tester are coming from the origin `chrome-extension://aejoelaoggembcahagimdiliamlcdmfm`, which wasn't obvious to me.
I simply had to include that origin in my whitelisted origins...

[2020-04-12 16:43] freemind12 opened #188 "How to fix Access to XMLHttpRequest at 'https://localhost:3443/images' from origin 'http://localhost:4200' has been blocked by CORS policy"
These are my files of the project:
app.js:

    var express = require('express');
    var path = require('path');
    var favicon = require('serve-favicon');
    var logger = require('morgan');
    var cookieParser = require('cookie-parser');
    var bodyParser = require('body-parser');

    var index = require('./routes/index');
    var usersRouter = require('./routes/usersRouter');
    var image

[2020-04-13 06:55] dougwilson commented on #188
@expressjs/triagers

[2020-04-13 12:05] davidmashe commented on #188
@freemind we’ll look into it using your code, thanks

[2020-04-13 16:12] davidmashe commented on #188
@freemind12 are you able to post your package.json? Even better would be the project repo.

[2020-04-13 16:56] freemind12 commented on #188
@davidmashe , Hello and thank you for help. This is my full project files repo:  https://github.com/freemind12/test

[2020-04-14 15:27] freemind12 commented on #188
@davidmashe, Couldn't u find the problem?

[2020-04-15 13:34] davidmashe commented on #188
@freemind12 Unfortunately there is a lot of code here and many dependencies, making it hard to isolate this issue. We cannot debug further unless it becomes clear that this is an issue in the code of `cors`.

I would suggest following the patterns in `Configuring CORS w/ Dynamic Origin` section of the `README`. Your implementation is a little bit different and this could be the issue.

Also worth

[2020-04-15 13:34] #188 closed

[2020-04-22 18:27] literakl opened #190 "Access-Control-Allow-Origin is missing when I define corsOptions.origin"
I use "cors": "^2.8.5",

When I call cors without parameters, I receive Access-Control-Allow-Origin header matching any URL.

`app.options('/v1/authorizeUser', cors());`

Response:

[code]

Then I pass corsOptions with single URL and it is returned in the header.

[code]

Response:

[code]

But when I pass an array, the header is missing at all and Chrome refuses to continue.

[code]

Response

[c

[2020-04-22 18:42] dougwilson commented on #190
What is the Origin request header you are sending?

[2020-04-22 18:44] dougwilson commented on #190
Basically if you do not send an Origin request header that matches one of the strings in the array passed to this module, this module does not send that allow origin header back. This is following https://www.w3.org/TR/cors/

[2020-04-22 18:44] #190 closed

[2020-04-22 18:47] literakl commented on #190
I tested it with curl having no headers:

curl -v -X OPTIONS http://127.0.0.1:3000/bff/polls/last

What sent Chrome I cannot find anymore because they stopped displaying OPTIONS request.

[2020-04-22 18:48] literakl commented on #190
Please try it yourself, the source code is there.

[2020-04-22 18:50] dougwilson commented on #190
I tried it and it works as expected.

[2020-04-23 17:14] literakl commented on #190
My configuration issue. I did not specify the port. When I added it, it
started to work. It is a pity that Chrome does not display OPTIONS anymore.

st 22. 4. 2020 v 20:50 odesílatel Douglas Wilson <notifications@github.com>
napsal:

[2020-04-25 12:22] brechtarnou opened #191 "Cors blocking certain routes"
Hi all,

I am working with firebase functions (express) and I am facing cors issues.
[code]

I have the weirdest issue, when I deploy my website to netlify. The pdf1 & pdf2 route run against a cors issue.
![image](https://user-images.githubusercontent.com/58935002/80279676-6bb49280-86ff-11ea-9392-bce6f4b06954.png)

While my /email route is working fine. Side note the /email route is triggered from

[2020-04-25 19:30] dougwilson commented on #191
Hi, sorry you are having issues. It looks like from the error and based on the code above, you need to add `https://www.achterstalligehuur.be` to your list of allowed origins.

[2020-04-25 19:30] #191 closed

[2020-04-25 20:00] brechtarnou commented on #191
That is the one I have added but I marked it here as my url

[2020-04-25 20:02] dougwilson commented on #191
Hm... It's hard to help without really understanding the full picture here. The error message doesn't line up with the code provided is all. Is it possible you can provide a complete example we can reproduce the issue with to better understand, diagnose, and provide an answer for you? Ideally an example app we can run as-is and then the steps to see the issue.

[2020-05-08 17:33] DzhideX opened #192 "How to import on experimental .mjs files?"
I'm using .mjs files with import syntax for my node project.  I tried both the default and named import, neither of which have worked for me.  Is it currently impossible to do so or am I missing something?

[2020-05-08 17:35] dougwilson commented on #192
I'm not familiar with .mjs files, and the experimental nature of them. This is a standard "CommonJS" Node.js module. You may be able to get your question answered over at https://github.com/nodejs/help/issues

[2020-05-08 17:35] #192 closed

[2020-05-08 17:37] dougwilson commented on #192
Just from a quick search on the Node.js docs, I think the answer is https://nodejs.org/dist/latest-v14.x/docs/api/modules.html#modules_module_createrequire_filename but I'm not 100% sure.

[2020-05-08 18:09] DzhideX commented on #192
I think this is it. You really went above and beyond. Thanks a lot!

On Fri, May 8, 2020 at 7:37 PM Douglas Wilson <notifications@github.com>
wrote:

[2020-05-09 00:14] DrPep opened #193 "Origin values other than String result in no Access-Control-Allow-Origin header being sent"
**Expectation**
The documentation states that valid values for the `origin` in the passed `options` object include:
- Boolean
- Array
- String

I Expect that passing any one of these would result in an `Access-Control-Allow-Origin` header being sent in a response to an HTTP OPTIONS request.

**Actual**
No `Access-Control-Allow-Origin` is sent if the `origin` value is set to either Boolean or an Ar

[2020-05-09 00:16] dougwilson commented on #193
Hi, sorry you are having trouble using this module. Can you provide all the following so we can take a look?

1. version of node.js
2. version of this module
3. complete code which reproduces the issue
4. instructions on how to reproduct

[2020-05-09 00:17] DrPep commented on #193
Sorry, I hit cmd+enter for newline instead of just enter!

[2020-05-09 00:19] dougwilson commented on #193
it's no problem. i saw your updated before i sent my request above, which is what i need still in order to look into it. this module has test cases which covers these scenarios and they pass, so without complete reproduction steps from you i don't have anything to look into 👍

[2020-05-09 00:20] DrPep commented on #193
Just grabbing code around the issue - will post in a moment. Thanks again

[2020-05-09 00:29] DrPep commented on #193
Express config:
[code]
Sending HTTP Request:
[code]

I do not receive any `Access-Control-Allow-Origin` header.

When I set configuration with a single string however:
[code]

I get my header value perfectly:

[code]

[2020-05-09 00:33] dougwilson commented on #193
Thank you! This is working as expected, as with your first config, you are asking to validate that the incoming request is from the expected origin. Since your request has no `Origin` header, the validation fails, and a failure in the CORS protocol is simply not to include the response header. Your second example has a fixed origin option, in which it just sends that back. I hope that helps.

[2020-05-09 00:33] #193 closed

[2020-05-09 00:39] DrPep commented on #193
That makes sense - apologies, this probably shouldn't have been an issue had I done a little more research. Thanks again!

[2020-05-09 00:40] dougwilson commented on #193
Hey, it is no problem at all, happy to help! The fact that the string is returning the header in your example is actually a long-standing bug that is planned to be fixed in the next major version.

[2020-05-09 12:12] inkWave opened #194 "example given by readme maybe wrong"
According to https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin

but all your example is
`app.get('/products/:id', function (req, res, next) {
  res.json({msg: 'This is CORS-enabled for all origins!'})
})`
app.post would be more proper I think.
Is my understanding wrong?

[2020-05-09 13:24] dougwilson commented on #194
That page is actually wrong. Check out the bug that text links to https://bugzilla.mozilla.org/show_bug.cgi?id=1508661

[2020-05-09 13:24] #194 closed

[2020-05-10 05:08] achhapolia10 opened #195 "Update README to provide better information regarding preflight"
Prefetch is already handled by the middleware: https://github.com/expressjs/cors/blob/943ad3ca70902bd2ed316c47165b62dc624df8a3/lib/index.js#L163-L190

Creating a handler for the method OPTIONS is not necessary. Please update README to provide information that the middleware already handle preflight and creating a handler for the method OPTIONS is not needed.

[2020-05-10 05:10] dougwilson commented on #195
The examples already show it is part of the middleware (as in, `cors()` is shown to handle preflight requests).  The example in which preflight is called out specifically is also where you need to use it--if you use your cors module on your specific routes (which you need to also add to options).

[2020-05-10 05:10] #195 closed

[2020-05-10 05:12] dougwilson commented on #195
If you have thoughts on specific wording or changes that you think would help clarify, please open a pull request. I think it is clear you feel like it is not clear, but I feel it it, so delegating me to figure out how to clarify isn't like to help, so giving specific pointers to what would help you understand better would help us both 👍

[2020-05-11 08:38] Hongbo-Miao commented on #73
Just searched and found here, the current field name is `optionsSuccessStatus`.
Posted here in case it help future people.

[2020-05-16 06:24] akhtariev opened #197 "No 'Access-Control-Allow-Origin' header is present on the requested resource"
Hi!

I am getting the following error:
![image](https://user-images.githubusercontent.com/34196718/82112573-e53e1000-9702-11ea-9771-328900d06207.png)

My express server does the following:
[code]

The router that fails:
[code]

The client making the request:
[code]

I've been struggling with this for hours. Please help!
The preceding requests work fine.
Thanks!

[2020-05-16 19:32] jonchurch commented on #197
Hi there, if you take a close look at your error, you'll see that you're missing the `Access-Control-Allow-Credentials` header.

Combining `Access-Control-Allow-Credentials` and `Access-Control-Allow-Origin: *` is an invalid combination for CORS. You need to either whitelist your origin server (the frontend), or tweak the `allowedHeaders` to accept `Authorization` headers.

I'd suggest the first a

[2020-05-16 19:35] akhtariev commented on #197
Thank you! That's very helpful

[2020-05-16 21:14] douglasnaphas commented on #197
I may have something to humbly add here in addition to @jonchurch's reply.

The `Access-Control-Allow-Credentials` was already present as far as I can tell, and the app seems to work without it.

When I made requests earlier today to @akhtariev's site, https://ssat-prep-server.herokuapp.com (`fetch('https://ssat-prep-server.herokuapp.com/api/payment/create-checkout-session', {method: 'POST', body:

[2020-05-16 22:27] jonchurch commented on #197
Oh yeah, I definitely misread the error here. It doesn't mention `Access-Control-Allow-Credentials` at all. I am not sure now why I thought that was the error. Must have been before my coffee kicked in.

There's something else going on here, we would need to see your code or a minimal reproduction case @akhtariev to better understand your issue.

Sorry for the confusion!

[2020-05-17 02:57] akhtariev commented on #197
Thanks for the detailed replies!
I tried configuring cors on the server in many different ways today:

The server is currently deployed with the default settings:
`app.use(cors());`

[code]

[code]

[code]

In some cases, the option request fails, in others POST gets 503: Service not available

I am really not sure what is the problem here at this point and considering deploying client and server

[2020-05-17 03:10] dougwilson commented on #197
Hello!

So the `origin` option needs to be the string your web browser is showing as what it not allowed. An Origin is not a full URL. You can read more about Origin at https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin

In addition, the "Authorization" header is a special header, considered a "credential" header in the CORS spec. You can read more about how CORS works at https://www

[2020-05-17 03:10] #197 closed

[2020-05-20 20:16] spsaucier-bakkt commented on #177
I'm seeing this as well (in multiple browsers).

[2020-05-21 02:15] douglasnaphas commented on #177
@spsaucier-bakkt Based on comments elsewhere from the maintainers of this project, I think either your code or minimal steps to reproduce your issue would be needed for this to be re-opened.

It also would be good to confirm that you are not using any CORS extensions like https://addons.mozilla.org/en-US/firefox/addon/access-control-allow-origin/ or https://chrome.google.com/webstore/detail/allow-

[2020-05-22 16:30] spsaucier-bakkt commented on #177
I have resolved this -- I think it came down to my `cors()` usage being set too late (low) in `Server.js`.

[2020-05-29 00:16] e-l-i-s-e commented on #114
Looks like this issue has been inactive for a while so I'm going to close it. Happy to reopen any time.

[2020-05-29 00:16] #114 closed

[2020-05-29 00:18] e-l-i-s-e commented on #167
Looks like more information was requested several years ago but without follow up. I'm going to close this issue and would be happy to reopen it if needed.

[2020-05-29 00:18] #167 closed

[2020-06-17 10:18] kitsunekyo opened #198 "configuration option Array not working for origin value"
I'm trying to use an array of allowed origins via `app.use(cors({origin: ["http://localhost:8080", "http://localhost:8081"]}));`

no matter what i put in the array (as documented), express wont send an `Access-Control-Allow-Origin` header.

when just using a string instead of an array, it works perfectly.

[2020-06-17 11:40] dougwilson commented on #198
Duplicate of #193

[2020-06-17 11:40] #198 closed

[2020-06-28 04:10] jkasun opened #199 "Removing terms blacklist and whitelist from the documentation"
Most of the organization such as Microsoft (GitHub) and UK NCSC suggest avoiding terms like "Blacklist" and "Whitelist" due to racial stereotyping. It suggests the use of "blocklist" and "allowlist" instead.

I suggest the community as an extremely popular express middle-ware we can support and involve this "Black Lives Matter" movement too.

https://www.bbc.com/news/technology-53050955
zdnet.com/

[2020-06-28 04:15] dougwilson commented on #199
Hi @jkasun feel free to submit a pull request in order to make this a constructive request :) !

[2020-06-28 04:15] #199 closed

[2020-06-28 04:35] jkasun commented on #199
Done. Thank you.

[2020-06-28 04:36] dougwilson commented on #199
Thank you so much!

[2020-07-09 06:13] thediveshsoni commented on #184
Any resolution for the issue.

[2020-07-24 12:13] samawiamoin commented on #159
@ghost

Have you been able to find the solution of this problem?

[2020-07-27 09:06] eljefedelrodeodeljefe opened #202 "options: origin {Function}: bind req to this or pass as argument"
Hi,
as a suggestion (not having found anything on the bug tracker -> hopefully), would you see it worthwhile binding `req` to the origin function, when used? My use case would be getting data from other middleware such as any auth middleware.

I can provide code and tests, however wanted to check feasibility first. Kind regards

[2020-07-27 09:08] eljefedelrodeodeljefe commented on #202
Signature would be

[code]

[2020-07-27 11:27] dougwilson commented on #202
Can you detail your use case for such a feature?

[2020-07-27 19:27] dougwilson commented on #202
To clarify: I know you provided a general example above, but I believe it will likely not work as you're (and likely any other user who tries to use the feature) expecting when the inbound request is "non-simple" and thus requires a pre-flight request -- almost all the data is missing from that request that needs to respond to the CORS mechanism, meaning if your list of origins are populated from

[2020-07-31 15:14] Andreyooo opened #203 "Enabling Cors-Preflight not working with custom headers"
I have a simple webpage were I make a GET-Request towards my RestAPI. Without cors it's not working, when I enable cors for all routes it does work for with `content-type = text/plain`.
I want to use custom headers though and `content-type = application/json`
so I figured I need to enable cors preflight. But it does not not work if I enable it. My code is structured as follows:
[code]
I get a `405

[2020-07-31 18:35] ghinks commented on #203
I am not going to make promise to fix your cors issues. But is the 405 the response to the preflight request or to the subsequent request when you have content type application/json.
In most cases a small working example of the issue that can be run be the cors maintainer is helpful in these situations.

[2020-08-05 12:15] Andreyooo commented on #203
The 405 response is regarding the OPTIONS method in the preflight request. I will look if I can get a small example running.

[2020-08-06 13:15] Andreyooo commented on #203
Fixed it.
I am using some custom middleware and cors needed to be applied before this middleware. Thx for the reproducing approach, it helped.

[2020-08-06 13:15] #203 closed

[2020-08-12 18:11] douglasnaphas commented on #185
I respectfully suggest that this change not be made.

## cors({origin: '*'}) means send a literal *, not allow-list all origins
If someone writes `cors({origin: '*'})`, their server will send response headers of `Access-Control-Allow-Origin: *`, regardless of the request's origin.

The discussion here and in #204 seems to be assuming that `cors({origin: '*'})` either already means, or should mean,

[2020-08-13 13:53] davidmashe commented on #202
no further info has followed, closing issue. If information comes forward, issue can be re-opened.

[2020-08-13 13:53] #202 closed

[2020-08-27 07:35] iamtheef opened #206 "Origin option doesn't work with some hosts"
I noticed that origin option relies on `origin` option of the headers. That option is not always provided so CORS disallows the connection.
Some hosting providers use the `referer` attribute instead, so it would be nice to make an addition.

[2020-08-27 07:37] LinusU commented on #206
Hmm, this is very interesting, do you have any more information on who is doing this, and why? I think that `origin` is in the specification for how CORS should work, so I'm not sure that we should deviate from that 🤔

[2020-08-27 07:44] iamtheef commented on #206
Sure. Heroku is one host that surely doesn't provide that attribute and I think netlify as well. Maybe using both attributes as potential origin would help.

[2020-08-27 08:36] LinusU commented on #206
I'm using this module on Heroku without problems 🤔

Is there a specific scenario where they don't provide it?

[2020-08-27 10:27] iamtheef commented on #206
Then something else must be going on. I set my origin option to an enviromental variable but it accepts requests from everywhere. I made sure my env variable is visible (it's not undefined) to cors.

[2020-08-27 11:35] iamtheef commented on #206
Here is how I am configuring cors :
`const getCors = () => {
  return {
    origin: (origin: string, cb: any) => {
      console.log("origin: ", origin, "client: ", process.env.client);
      if (origin === process.env.client) {
        cb(null, true);
      } else {
        cb(new Error("Not allowed by CORS"), false);
      }
    },
    credentials: true,
    methods: ["GET", "POST"],
  };
};

ex

[2020-08-27 13:06] dougwilson commented on #206
How are you making the request seen in the log? The Origin header is only set by the web browser when it is a cross domain request. When the request is not cross domain, the Origin header is expected to be undefined. This is part of the CORS specification.

[2020-08-27 13:37] iamtheef commented on #206
@dougwilson It's the log from the code I pasted above. I am logging inside the origin callback function and the origin is clearly undefined.

[2020-08-27 13:39] dougwilson commented on #206
Hi @iamtheef the question was around how are you making the HTTP request that is then logged. The Origin header is only set by the web browser when it is a cross domain request. When the request is not cross domain, the Origin header is expected to be undefined. This is part of the CORS specification.

[2020-08-27 13:54] iamtheef commented on #206
@dougwilson Thanks for the reply. I am just trying to visit my page from my web browser.

[2020-08-27 13:56] dougwilson commented on #206
A top level navigation to your page is not a cross origin request, which is why your web browser is not attempting CORS negotiation (and thus not sending the `Origin` header).

[2020-08-27 13:56] #206 closed

[2020-08-27 13:58] dougwilson commented on #206
The following is a great resource to learn about CORS: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS . They actually list out which kinds of requests are going to be CORS as well:

[2020-08-27 13:59] iamtheef commented on #206
@dougwilson I get the same log when I try to send http requests from a tool like this https://reqbin.com/.
It's a SPA made with react, why wouldn't it send the `origin` header?

[2020-08-27 14:03] dougwilson commented on #206
Hi @iamtheef in order to help, I would need you to provide all the reproduction steps to understand. But this module is of course not generating the Origin header, just following the CORS specification: https://fetch.spec.whatwg.org/#cors-protocol

If you are experiencing a cross domain request where the client is not generating a CORS request, then you need to report that issue to the client, as

[2020-08-27 14:09] iamtheef commented on #206
It's a React app deployed on Heroku, you can find all the code here : https://github.com/iamtheef/chat-room
I don't think it's a bug from them, more likely to be a bug of mine.

[2020-09-07 15:26] peter-palmer opened #208 "Using CORS With POSTMAN"
Hello I'm using Postman for make the request, but as soon as I enable CORS, Postman is unable to make request (althought I added localhost in the whitelist array).

How can I solve this problem? Thanks.

[2020-09-07 15:59] dougwilson commented on #208
You need to use the Postman desktop app, not the old Chrome app: https://blog.postman.com/introducing-the-postman-agent-send-api-requests-from-your-browser-without-limits/

[2020-09-07 16:12] peter-palmer commented on #208
Hello why do you close my issue? I am not using the old chrome app!!!

[2020-09-07 16:13] dougwilson commented on #208
Ah, sorry. Then I have no idea what the issue is, unfortunately. I can keep it open, but not sure what the next step is, especially as I am not familiar with postman.

[2020-09-07 17:02] douglasnaphas commented on #208
@peter-palmer Can you provide your server code, and a description and/or screenshot of the request you are making in Postman?

[2020-09-14 19:12] kubasulek2 opened #209 "Cors dynamic origin function not working with express router"
Hello, I experienced this isssue when switched from app.post(/route) to router.post(/route);
Before change it was working fine.
Now it fires cors middleware twice, second time passing undefined as orign param.

[Code](https://gist.github.com/kubasulek2/c6d6e8da026420b6b70d840da5df6eca?fbclid=IwAR2FL_6jnyKXIF6NzLTlx_BhWLvrkpndz4tQqryLW2j5drwPa518DT0O4Yw)

[2020-09-14 22:20] dougwilson commented on #209
Hi @kubasulek2 I don't see anything that stands out from the code. Can you help us by providing the exact environment set up you have and instructions for how to reproduce the issue?

[2020-09-17 14:20] DarkLite1 commented on #163
Having a [similar issue](https://stackoverflow.com/questions/63938988/setup-cors-for-graphql-with-apollo-server-to-work-in-openshift) but can't seem to get it right.

[2020-09-18 08:39] DarkLite1 opened #210 "No 'Access-Control-Allow-Origin' header is present"
First of all I would like to apologize for opening an issue while there are many already reported like this. But the simple fact is that I can't seem to get it resolved, not even with [my question on StackOverlfow](https://stackoverflow.com/questions/63938988/setup-cors-for-graphql-with-apollo-server-to-work-in-openshift).

### Description

We have a frontend and a backend server. When both run on

[2020-09-18 09:16] aliszafar1 commented on #210
+1

[2020-09-18 11:22] DarkLite1 commented on #210
Issue can be closed. We didn't use the correct port in the OpenShift application to expose the app. Nothing to do with CORS although it looked that way. Sorry for the confusion people.

[2020-09-18 11:22] #210 closed

[2020-09-20 06:39] ankurnarkhede commented on #208
@peter-palmer , can you check what is the `Origin` header received in your app?

[2020-09-22 07:43] alex-jss commented on #185
Thank you @douglasnaphas. `cors({origin: /.*/})` saved me.

[2020-09-25 11:01] JohnReyes-Dev opened #211 "Using axios to get data from "/get" to "/", but geting 403 error. (Express, mysql, JWT)"
I'm not sure if this is the right place to ask this question, but...

What I'm trying to do is get json data from "/get" to "/", but I'm not sure why axios keeps giving my a 403 error. From what I read, axios isn't the issue, but cors is. I tried all the ways that people are recommending, but nothing is working. What I'm I doing wrong within my code? I'm also seeing "Referrer Policy: strict-origin

[2020-09-25 14:59] douglasnaphas commented on #211
@RukaiJohn Can you provide a list of specific steps to follow in order to reproduce the errors that you are seeing?

This should include anything I have to run against my local `mysql` server to set up a user, and, especially, the actions taken within the browser, and any JavaScript that runs client-side.

[2020-09-25 15:47] RukaiJohn commented on #211
How i created the mysql table.

CREATE TABLE `jobs`.`user` (
  `id` INT NOT NULL AUTO_INCREMENT,
  `email` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`id`));

Step #1:
Front end I'm using Vue for the login. So 'http//localhost:8080/login' so I can authenticate/create a token for the user. The action is taken place in http://localhost:5000/login. After that http://localhost:5000/get can be accessed and i

[2020-10-01 01:36] douglasnaphas commented on #211
I would want to try to figure out the issue using the code you have provided. If I address it using access to your repo, then someone else finding this Issue in the future would not be able to follow along.

Unfortunately, I probably won't be able to look in more detail for at least a few more days, but here are some thoughts that might assist with debugging:

1. Instead of running one server on h

[2020-10-01 21:21] samyoungnyc opened #212 "Access to XMLHttpRequest at 'https://my-node-server.com' from origin 'https://my-front-end.com' has been blocked by CORS policy: No 'Access-Control-Allow-Origin'"
I have an issue where POST requests to my deployed server, from my deployed front-end, are being blocked for lack of `No 'Access-Control-Allow-Origin'`.

I can make requests using `localhost:3000`  to `localhost:5000` AND `https://my-node-server.com` - so the whitelist appears to work for localhost, but not for the deployed website.

I used the documentation here to create a `whitelist` - and also

[2020-10-01 21:59] douglasnaphas commented on #212
You have `const status = await login(code);`, using `await`, but the function it appears in is not `async`. Is your server actually hitting an error? I suggest changing `app.get('/api', cors(corsOptions), (req, res, next) => {` to `app.get('/api', cors(corsOptions), async (req, res, next) => {`.

[2020-10-01 22:04] samyoungnyc commented on #212
Hey - that was actually a typo when I was formatting the question - I will edit the code in the question, however in my codebase, `async` is there.

[2020-10-02 09:37] #212 closed

[2020-10-28 12:32] studioo commented on #141
@RobertoMSousa Hey. I have the same problem how did you solve it?

[2020-11-01 09:22] RavshanbekT opened #214 "Cors"

[2020-11-01 16:43] #214 closed

[2020-11-12 06:49] me-andre opened #215 "Ability to analyze request before allowing CORS"
I'd like to be able to pass a callback which allows/forbids CORS for this specific request, similar to how `http-proxy-middleware` allows to pass a custom matcher https://github.com/chimurai/http-proxy-middleware#context-matching

Example usage: an API may require a specific header to be set IF the request is cross-domain.

To perform additional checks when deciding on CORS may be an antipattern -

[2020-11-12 06:53] dougwilson commented on #215
Hi @me-andre ! This sounds like a standard middleware pattern: you want to decide, based on something (the request here) if you want the middleware (cors) to perform it's action. This is pretty straight-forward for any Express middleware:
[code]

Let me know if this works for your use-case or not.

[2020-11-12 07:03] me-andre commented on #215
It does work, thanks! I think the issue can be closed.
(Maybe posting your recipe in the README might help someone).

[2020-11-12 13:24] dougwilson commented on #215
Awesome, glad to hear that @me-andre ! As far as the README goes, that is not specific to this module and is among dozens of different "recipes" for using middlewares -- replicating these in every middleware module would make them so long as to be untenable. Some kind of central location should be created by someone so inclined which could be referenced.

[2020-11-12 13:24] #215 closed

[2020-11-22 22:01] kertAW opened #216 "cors with corsOptions not woriking in express router."
My app.js:

[code]

and router:

[code]

When I make a request to the server I get an error:

![image](https://user-images.githubusercontent.com/64747555/99918346-446e8400-2d27-11eb-9dae-7e56e3dd5ab3.png)

How I can connect cors() to router?

[2020-11-22 22:08] dougwilson commented on #216
Hi @kertAW , the reason you are getting a 400 Bad request is due to the line `check('email', 'incorrect email').isEmail()` in your code, as what you are submitting in your `fetch` as the `email` field (the string `'adaw'`) is not a well-formatted email address.

[2020-11-22 22:08] #216 closed

[2020-12-01 11:43] kertAW opened #217 "How can I use cors with corsOptions in express-router?"
Hello. I have a problem: I am trying to use cors in express.Router:

[code]

Аnd if I try to make a request to the server it doesn't work:

![image](https://user-images.githubusercontent.com/64747555/100736203-78ab0a00-33e3-11eb-8a45-2d69012076ac.png)

how to connect cors correctly?

[2020-12-02 10:01] #217 closed

[2020-12-02 10:03] kertAW commented on #217
it was my carelessness

[2020-12-11 14:23] bahatron opened #218 "TypeScript incompatable interfaces"
### Sample code:

[code]

### Error

[code]

### Versions:

[code]

[2020-12-11 15:24] dougwilson commented on #218
Hello, sorry for the issue you are having using TypeScript and this module. Unfortunately I don't know TypeScript, and this module doesn't provide any definitions. I believe the `@types/cors` module is managed at the following repository: https://github.com/DefinitelyTyped/DefinitelyTyped

[2020-12-11 15:24] #218 closed

[2020-12-11 23:31] netdragonboberb opened #219 "Add to documentation: Enable for all routes with express router"
The documentation is missing info on how to enable for all routes on the Express Router, and people seem to think they have to add it for every single route.

On this page: https://github.com/expressjs/cors

**Add For All Routes**
router.all('*', cors());

[2020-12-11 23:54] dougwilson commented on #219
Hello, and thank you for your issue. You can find the docs for enabling on all routes at https://github.com/expressjs/cors#simple-usage-enable-all-cors-requests

Your example what the router would not work, though, depending on how your router is set up. The readme provides the basic examples, but as this is a middleware, you would enable for all routes like you would any other middleware.

If you

[2020-12-11 23:54] #219 closed

[2020-12-27 01:53] pguardiario commented on #104
I noticed that app.use(cors) needs to be above the static folder lines.

[2020-12-28 08:10] abhijit-hota opened #220 "Access-Control-Allowed-Origin header not included when origin is set via Regexp and String array"
From this issue: https://github.com/expressjs/cors/issues/90#issue-182932818

I came here to file an issue about this but I guess I'm missing something.

----

While developing, if I specifically mention the origin like this, then it works fine. **The `Access-Control-Allowed-Origin` is set in the following case.**
[code]

But if I use both a Regexp and string like the following, **the `Access-Cont

[2021-01-07 03:18] jhessin opened #221 "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:3000/... (Reason: CORS request did not succeed)."
I am trying to get this project to work correctly: [here](https://github.com/jhessin/phaser_mmorpg).

The problem I am having begins when I try opening a socket connection between the client and server codes. I'm not sure where I'm going wrong but I'm getting this error every time: `Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at http://localhost:3000/

[2021-01-07 04:03] douglasnaphas commented on #221
Is https://github.com/jhessin/phaser_mmorpg a private repo? It gives a 404 in the browser.

If the browser has a port other than 3000 loaded when you make your request to localhost:3000, that could cause this error, if you don't have something like `cors({origin: "http://localhost:XXXX"})` in your server-side code, where `XXXX` is the port that's loaded in the browser.

[2021-01-07 04:33] jhessin commented on #221
Lol. I forgot I made it private. I just made it public. It's funny you say that because that is exactly what I do in the program which is why I'm confused by the error.

[2021-01-07 04:44] dougwilson commented on #221
What is the URL of the site you load in the web browser? It seems to start as port 8000, but your cors config is set up to allow port 8080, not port 8000.

[2021-01-07 06:21] jhessin commented on #221
I have tried both. We pack-dev-server defaults to 8080, and that was what I set it for originally, the tutorial I have been working with sets it to 8000, so I tried that also. You may be looking at an outdated example.env file.

- Jim Hessin

[2021-01-07 06:23] dougwilson commented on #221
Thank you for the response. I ran the repo you provided and that was the issue, and making them match fixed it. If the repo is outdated, please update it and let us know so we can diagnose the code you are running into issues with.

[2021-01-07 06:35] jhessin commented on #221
Okay - the only reference to port 8080 was the default in the event my .env file didn't have the proper setup. It had no effect on the error. Nothing was outdated, but I pushed some debugging code just to be sure port 8000 is being passed to CORS, and I'm still getting the error.

[2021-01-07 06:44] dougwilson commented on #221
I cloned the repo again, ran through the setup as written in the README and everything is working fine. I have no errors anywhere. Where am I supposed to be seeing an error?

![Uploading image.png…]()